<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-uppercase">
       Estadísticas Campañas Publicitarias
      </h5>
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Estadísticas</li>
      </ol>
    </div>
  </div>
</div>

<div class="row pad30-h " style="padding-top: 15px;">

  <div class="row">
    <div class="col s12 ">
       
      <div class="valign-wrapper">

          <% if request.subdomain.present? %>
            <div class="input-field col m5 s12">
              <select id="select_producto" name="rol" >
                <option value="-1">Elija un Producto</option>
                <%= options_from_collection_for_select(Producto.all, :id, :nombre) %>
              </select>
              <label>Producto</label>
            </div>
            <a class="waves-effect waves-light btn z-depth-1" id="buscar_producto" style = "margin-left: 27px;">Buscar</a>
          <% else %>
            <div class="input-field col m5 s12">
              <select id="select_plan" name="rol" >
                <option value="-1" selected>Elija un Plan</option>
                <%= options_from_collection_for_select(Plan.all, :id, :nombre) %>
              </select>
              <label>Plan</label>
            </div>
            <a class="waves-effect waves-light btn z-depth-1 " id="buscar_plan" style = "margin-left: 27px;">Buscar </a>
          <% end %>
      </div>
            
    </div>  
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <ul class="tabs">
        <li class="tab col s12 m2">
          <a class="grey-text text-darken-2 active" href="#todas">Todas</a>
        </li>
        <li class="tab col s12 m2">
          <a class="grey-text text-darken-2 " href="#sms">SMS</a>
        </li>
        <li class="tab col s12 m2">
          <a class="grey-text text-darken-2 " href="#email">Email</a>
        </li>
        <li class="tab col s12 m2">
          <a class="grey-text text-darken-2" href="#llamadas">Llamadas</a>
        </li>
        <li class="tab col s12 m2">
          <a class="grey-text text-darken-2 " href="#redes_sociales">Redes Sociales</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col s10 offset-s1">
    <span class="negrita"> <%if !@producto.nil? %>  <%= @producto.nombre %> <% end %> </span>
    <span class="negrita"> <%if !@plan.nil? %>  <%= @plan.nombre %> <% end %> </span>
    <div class="row" id="todas">

      <div class="col s8 offset-s2" id="todas">
        <div>
          <canvas id="canvas_todas" height="350" width="600"></canvas>
        </div>
      </div>
      
    </div>
    <div class="row" id="sms">

      <div class="col s8 offset-s2 ">
        <div>
          <canvas id="canvas_sms" height="350" width="600"></canvas>
        </div>
      </div>
    </div>

    <div class="row" id="email">
      <div class="col s8 offset-s2 ">
        <div>
          <canvas id="canvas_email" height="350" width="600"></canvas>
        </div>
      </div>
    </div>

    <div class="row" id="llamadas">
      <div class="col s8 offset-s2">
      <div>
        <canvas id="canvas_llamadas" height="350" width="600"></canvas>
        </div>
      </div>
    </div>

    <div class="row" id="redes_sociales">
      <div class="col s8 offset-s2">
        <div>
          <canvas id="canvas_social" height="350" width="600"></canvas>
        </div>
      </div>  
    </div>

  </div>
</div>

<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag 'plugins/chart/Chart' %>
  <script type="text/javascript">


    $("#buscar_producto").click(function(evt){
       id_producto = $("#select_producto").val();
       window.location.href = "/interacciones_actividades/producto/"+id_producto;
    });

    $("#buscar_plan").click(function(evt){
        id_plan = $("#select_plan").val();
        window.location.href = "/interacciones_actividades/plan/"+id_plan;
    });

    var lineChartDataAll = {
      labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets : [
        {
          label: "Sms",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @sms_count %>
        },
        {
          label: "Email",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @email_count %>
        },
        {
          label: "Llamada",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @llamada_count %>
        },
        {
          label: "Redes Sociales",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @social_count %>
        }
      ]
    };

    var lineChartDataEmail = {
      labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets : [
        {
          label: "Difusiones",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @email_count %>
        },
      ]

    };


    var lineChartDataSms = {
      labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets : [
        {
          label: "Comentarios",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @sms_count %>
        },
      ]

    };

    var lineChartDataLlamada = {
      labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets : [
        {
          label: "Me Gusta",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @llamada_count %>
        },
      ]

    };
    var lineChartDataSocial = {
      labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets : [
        {
          label: "Compartir",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : <%= @social_count %>
        },
      ]

    };



    var ctx = document.getElementById("canvas_sms").getContext("2d");
    myLine = new Chart(ctx).Line(lineChartDataSms, {
      responsive: true
    });
    var ctx2 = document.getElementById("canvas_llamadas").getContext("2d");
    myBar = new Chart(ctx2).Line(lineChartDataLlamada, {
      responsive : true
    });

    var ctx3 = document.getElementById("canvas_todas").getContext("2d");
    myLine = new Chart(ctx3).Line(lineChartDataAll, {
      responsive: true
    });

    var ctx4 = document.getElementById("canvas_social").getContext("2d");
    myLine = new Chart(ctx4).Line(lineChartDataSocial, {
      responsive: true
    });

    var ctx5 = document.getElementById("canvas_email").getContext("2d");
    myLine = new Chart(ctx5).Line(lineChartDataEmail, {
      responsive: true
    });

  </script>
<% end %>