<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "jquery.dataTables" %> 
    <style type="text/css">
     .dropdown-content {
        max-height: 200px; 
    }
    </style>
<% end %>

<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-uppercase ">
       Criterios de Difusión
      </h5>
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Criterios de Difusión</li>
      </ol>
    </div>
  </div>
</div>


<div class="row pad30-h">
  <table id="criterio_difusions" class="display" cellspacing="0" width="100%" >
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Estatus</th>
          <th>
            Acciones

            <a href="/criterio_difusions/agregar" class="white-text red lighten-1 btn-sm btn-table-action tooltipped waves-effect" data-position="bottom" data-tooltip="Agregar Criterio de Difusión" data-delay="20">
              <i class="fa fa-plus"></i>
            </a>
          </th>
      </tr>
    </thead>
    <tbody>
      <% @criterio_difusions.each do |criterio_difusion| %>

         <% if ! criterio_difusion.nil? %>
            <tr>
              <td data-search="<%= criterio_difusion.nombre %>"> 
                  <%= criterio_difusion.nombre %> 
              </td>  

              <td> 
              <% if (criterio_difusion.estatus == 'A') %>
                  Activo 
              <% else %>
                  Deshabilitado
              <% end %>
              </td> 
              <td> 
              <% if !(criterio_difusion.estatus == 'A') %>
                <a  href="#modal<%= criterio_difusion.id %>" class="modal-trigger btn-success btn-sm"> Habilitar</a>
              <% else %>
                 <a  href="#modal<%= criterio_difusion.id %>" class=" modal-trigger btn-warning btn-sm">Deshabilitar</a>
              <% end %>
                <a href="#modalver<%= criterio_difusion.id %>" class="modal-trigger purple btn-primary btn-sm">Ver</a>
                <a href="#modaleditar<%= criterio_difusion.id %>" class="modal-trigger btn-primary btn-sm" onclick="load_table_criterio('<%= criterio_difusion.id %>')">Editar</a>

                <a  href="#modaleliminar<%= criterio_difusion.id %>" class="modal-trigger btn-danger btn-sm">Eliminar</a>
              </td>
              

            </tr>
          <% end %>
        <% end %>
            
     </tbody>
  </table>

  <% @criterio_difusions.each do |criterio_difusion| %>
    <% if ! criterio_difusion.nil? %>
        <!-- Modal Structure -->
       <div id="modal<%= criterio_difusion.id %>" class="modal">
          <div class="modal-content">
              <a style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
              <% if (criterio_difusion.estatus == 'A') %>
                <h5>Deshabilitar Criterio de Difusión</h5>
              <% else %>
                <h5>Habilitar Criterio de Difusión</h5>
              <% end %>
              <div class="row pad30-t" >
                <div class="col s12 text-center">
                  <% if (criterio_difusion.estatus == 'A') %>
                    <h6 style=" font-size: 20px;">¿Seguro que desea Deshabilitar el Criterio de Difusión seleccionado? 
                    </h6>
                  <% else %>
                    <h6 style=" font-size: 20px;">¿Seguro que desea Habilitar el Criterio de Difusión seleccionado?</h6>
                  <% end %>
                  <div style="padding-top: 35px;" class="right">
                    <% if (criterio_difusion.estatus == 'A') %>
                       <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= criterio_difusion.id %>,'I')">
                    <% else %>
                      <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= criterio_difusion.id %>,'A')">
                    <% end %>
                    <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
                  </div>
                </div>
              </div>                
          </div>
        </div> 

        <div id="modaleliminar<%= criterio_difusion.id %>" class="modal">
          <div class="modal-content">
                <a style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
               
                  <h5>Eliminar Criterio de Disfusión </h5>
               
                <div class="row pad30-t" >
                    <div class="col s12 text-center">
                     
                        <h6 style=" font-size: 20px;"> ¿Seguro que desea Eliminar el Criterio de Disfusión seleccionado? </h6>
                      
                      <div style="padding-top: 35px;" class="right">
                      
                        <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="eliminar(<%= criterio_difusion.id %>)">
                      
                        <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
                      </div>

                    </div>
                </div>                
          </div>
        </div> 

        <div id="modalver<%= criterio_difusion.id %>" class="modal modal-45">
          <div class="modal-content">
            <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
            <h5>Ver Criterio de Difusión</h5>

            <div class="row no-margin-v" style="padding-top: 15px;">
              <div class="col s10 offset-s1 " align="justify">
                <div class="row">
                 <p><b style="color: #9E9E9E">Nombre:</b></p>
                 <p>
                   <%= criterio_difusion.nombre %></p>

                 </div>

                 <div class="row ">
                   <p><b style="color: #9E9E9E">Decripci&oacute;n:</b></p>
                   <p><%= criterio_difusion.descripcion %></p> 
                 </div>
                 <div class="row ">
                   <p><b style="color: #9E9E9E">Tipo de Consulta:</b></p>
                   <p><%= criterio_difusion.tipo_consulta.humanize %></p> 
                 </div>
                 <div class="row ">
                   <p><b style="color: #9E9E9E">Búsqueda de Usuarios:</b></p>
                   <span id="sentencia" style="color: #03A9F4;"><strong>SELECT</strong><%= criterio_difusion.campo_seleccion %><strong>FROM </strong><%= criterio_difusion
                   .tabla %> </span><span id="where_consulta" style="color: #03A9F4;"><strong>WHERE</strong> <%= criterio_difusion.campo_comparacion %></span>
                   
                 </div>
               </div>

             </div> 
           </div>                
        </div>

        <div id="modaleditar<%= criterio_difusion.id %>" class="modal modal-fixed-footer" form="true">
          <div class="modal-content">
                <a style="float:right;" class="waves-effect btn-flat modal-close" onclick="cancelar(<%= criterio_difusion.id %>)"><i class="mdi-content-clear"></i></a>
                <h5>Editar Criterio de Disfusión</h5>
                
                <div class="row no-margin-v" style="padding-top: 10px;">
                    <div class="col s12">
                      <div class="row no-margin-v">
                        <div class=" input-field col s12 m6 ">
                          <input id="nombre<%= criterio_difusion.id %>" type="text" class="validate" value="<%= criterio_difusion.nombre %>" name="criterio_difusion[nombre]"> 
                          <label for="nombre<%= criterio_difusion.id %>">Nombre:</label>
                        </div>
                        <div class="col s12 m6">
                           <span id="sentencia" style="color: #03A9F4;"><strong>SELECT </strong> <span id="select_column_table<%= criterio_difusion.id %>" class="form-control-static"> <%= criterio_difusion.campo_seleccion %></span> <strong> FROM </strong><span class="form-control-static" id="from_table<%= criterio_difusion.id %>"> <%= criterio_difusion.tabla %> </span><strong> WHERE </strong> <span id="where_text<%= criterio_difusion.id %>" class="form-control-static"> <%= criterio_difusion.campo_comparacion %></span> </span> 
                        </div>
                        <div class=" input-field col s12 ">
                          <textarea id="descripcion<%= criterio_difusion.id %>" type="text" class="validate materialize-textarea" name="criterio_difusion[descripcion]"> <%= criterio_difusion.descripcion %>
                          </textarea>
                          <label for="descripcion<%= criterio_difusion.id %>">Descripción:</label>
                        </div>
                        
                         <div class="input-group col s12 m6">
                            <label>Tabla Referencia<span class="required">*</span></label>
                            <select id="select_tabla<%= criterio_difusion.id %>" class="text-capitalize"  name="criterio_difusion[tabla]" onchange="change_select_table(<%= criterio_difusion.id %>)">
                             <%= options_for_select(@tables_filter, class: "text-capitalize") %>
                                  </select>
                            <a href="javascript:void(0)" class="input-group-addon" id="basic-addon2"  role="button" data-toggle="popover" data-trigger="hover" data-title="¿Qué es Tabla Referencia?" data-content="Tabla que contiene un campo asociado a Usuario y el campo para la definición del criterio" placement="right" data-container="body">
                              <i class="mdi-action-help"></i>
                              <abbr>¿Qué es esto?</abbr>
                            </a>
                            
                        </div>
                        <div class="input-group col s12 m6">
                            <label>Columna Referencia<span class="required">*</span></label>
                               <select id="select_column<%= criterio_difusion.id %>" class="text-capitalize" name="criterio_difusion[campo_seleccion]" onchange="change_select_column(<%= criterio_difusion.id %>)">
                             <%= options_for_select(@columns.collect { |column|
            [column.name, column.name.to_s] }, class: "text-capitalize") %>
                                  </select> 
                            <a href="javascript:void(0)" class="input-group-addon" id="basic-addon2"  role="button" data-toggle="popover" data-trigger="hover" data-title="¿Qué es Columna Referencia?" data-content="Columna asociada con la tabla usuarios" placement="right" data-container="body">
                              <i class="mdi-action-help"></i>
                              <abbr>¿Qué es esto?</abbr>
                            </a>                         
                        </div>
                        <div class="input-field col s12">
                          <label for="criterio_difusion_where">Where <span class="required">
                          * </span>
                          </label>
                          <textarea class="materialize-textarea" name="criterio_difusion[where]" id="criterio_difusion_where<%= criterio_difusion.id %>" length="220" onchange="change_where(<%= criterio_difusion.id %>)"><%= criterio_difusion.campo_comparacion %></textarea>
                        </div>
                      </div>
                    </div>
                      
                 </div>
          </div>  
          <div class="modal-footer right-align">
            <div class="col right">
              <input type="button" class="btn btn-danger btn-sm" value="Cancelar" onclick="cancelar(<%= criterio_difusion.id %> )">
            </div>
            <div class="col right">
              <input type="button" class="btn btn-success btn-sm" value="Guardar" onclick="update( <%= criterio_difusion.id %>)">
                      
            </div>

            
              
            </div>              
        </div>

    <% end %>
  <% end %>

</div>

<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag 'maestros/criterio_difusions' %>
  <%= javascript_include_tag 'jquery.dataTables.min' %>
<% end %>