<div id ="ejecutadas"class="row">
  <% if !@campanna_publicitarias_ejecutadas.blank? %>
    <% @campanna_publicitarias_ejecutadas.each do |campanna_publicitaria| %>
        <% if !campanna_publicitaria.nil? %>
          <div class="col s4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                  <span> <%= campanna_publicitaria.titulo %></span>
              </div>
              <div class="panel-body">
                <h5 class="center-align"> <%= campanna_publicitaria.cantidad_difusion %> Interacciones</h5>
                <div class="row no-margin-v">
                  
                    <p>Medios de Difusión:</p>
                  
                  <div >
                    <% if ! campanna_publicitaria.campanna_publicitaria_detalles.nil?  %>
                      <ul  class='list-inline'> 
                        <% campanna_publicitaria.campanna_publicitaria_detalles.each do |campanna_publicitaria_detalle| %>
                             <li style="padding-bottom: 5px;"> <span ><a href="#!" class="red-social-add light-blue tooltipped" data-tooltip="<%= campanna_publicitaria_detalle.medio_difusion.humanize %>">
                             <i class="<%= $ICONOS_DIFUSION[CampannaPublicitariaDetalle.medio_difusions[campanna_publicitaria_detalle.medio_difusion]] %>"></i></a></span> 

                             </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <i class="fa fa-calendar grey-text text-darken-3"></i>
                    <strong>Inicio:</strong> <%= campanna_publicitaria.fecha_inicio.strftime("%d/%m/%Y ") %>
                  </div>
                  <div class="col">
                    <strong>Fin:</strong> <%= campanna_publicitaria.fecha_fin.strftime("%d/%m/%Y ") %>
                  </div>
                </div>
                <div class="row no-margin-v">
                
                  <div class="secondary-content">
                     <a  href="/campanna_publicitaria/ver/<%= campanna_publicitaria.id %>" style=" padding: 10px;">
                        <span>Ver</span>
                      </a>  
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        <%  end -%>
    <%  end -%>
   <div class="row valign-wrapper">
      <%= paginate(@campanna_publicitarias_ejecutadas) %>
    </div>
  <%  end -%>
</div>