<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-uppercase">
       Crear Campaña Publicitaria
      </h5>
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Campaña Publicitaria</li>
      </ol>
    </div>
  </div>
</div>

<div  id="form" class="row pad30-h"  style="width: 100%">

  <%= form_for @campanna_publicitaria, :url => campanna_publicitaria_crear_campanna_publicitaria_path, html:{id: "add_campanna_publicitaria", class: "form-horizontal"}, multipart: true do |f| %>
    <div>
      <div class="form-body steps">
        <div class="tab-content">
          <div class="feedback alert alert-danger display-none">
            <button class="close" data-dismiss="alert"  aria-label="Close"></button>
            Algunos campos tienen errores. Por favor revisa abajo.
          </div>
          <div class="feedback alert alert-success display-none">
            <button class="close" data-dismiss="alert"  aria-label="Close"></button>
            La validación fue exitosa.
          </div>
          <div class="panel  hoverable pad30-h">

            <div class="col s12 pad15">
              <h5>Datos de la Campaña Publicitaria</h5>
              <div class="row">
                 <div class="col s6  left ">

                  <div class="input-field col s12">
                    <label for="campanna_publicitaria_titulo">Título: <span class="required">
                    * </span>
                    </label>
                    <%= f.text_field :titulo, :required=>true, autocomplete: "off", length: "50" %>

                  </div>

                  <div class="input-field col s12">
                    <label for="campanna_publicitaria_descripcion">Descripción General: <span class="required">
                    * </span>
                    </label>
                    <%= f.text_area :descripcion, :required=>true, autocomplete: "off", class: "materialize-textarea", length: "300", style: "max-height: 20px;overflow-y: auto;" %>
                  </div>
                </div>
                <div class="col s6  left ">
                  <div class="col s12 row">
                    <% if request.subdomain.present? %>
                     <label><%=@organizacion.tipo_organizacion.nombre%> <span class="required">*</span></label>
                     <%= f.collection_select(:producto_id, Producto.all, :id, :nombre) %> 
                    <% else %>
                       <label>Planes <span class="required">*</span></label>
                         <%= f.collection_select(:producto_id, Plan.all, :id, :nombre) %> 
                    <%  end -%> 
                  </div>
                  <br>
                  <div class="col s6">
                    <label>Fecha de Inicio <span class="required">*</span></label>
                    <input type="date" class="datepicker" id="campanna_publicitaria_inicio" name="campanna_publicitarium[fecha_inicio]"/>
                    <span id="campanna_publicitaria_inicio-error_local" class="hiden msj-rojo"></span>
                  </div>

                  <div class="col s6">
                    <label>Fecha de Finalización <span class="required">*</span></label>
                    <input type="date" class="datepicker" id="campanna_publicitaria_fin" name="campanna_publicitarium[fecha_fin]"/>
                    <span id="campanna_publicitaria_fin-error_local" class="hiden msj-rojo"></span>
                  </div>
                
               </div>
            </div>
            <hr/>
               
              <div class="row">
                <div class="col s12 m6 ">
                    <h5>Medio de  Difusión</h5>
                    
                    <p>Selecciona el/los medio de difusión de su preferencia.</p> 
                    
                    <div class="col s12 valign-wrapper">
                       <div class="col s10">
                          <select id="select_medio_difusion" class="text-capitalize">
                            <%= options_for_select(CampannaPublicitariaDetalle.medio_difusions.to_a.map { |w| [w[0].humanize, w[1]] }) %>
                          </select>
                        </div>
                         <a href="javascript:void(0)"  id="agregar-medio-difusion" class="white-text red lighten-1 btn-sm btn-table-action tooltipped waves-effect" data-position="bottom" data-tooltip="Agregar" data-delay="20" style="float: none;"><i class="mdi-content-add"></i></a>
                    </div>
                     <span id="campanna_publicitarium_campanna_publicitaria_detalles_attributes-error_local" class="hidden msj-rojo">Debe Seleccionar al menos un medio de difusión.</span>
                    <div id="medio-difusion">
                      
                    </div>
                </div>
                <div class="col s12 m6">
                    <h5>Criterios de  Difusión</h5>
                    <ul id="lista-redes-sociales" class=" list-inline">
                      <li>Selecciona el/los criterios de selección de usuarios de su preferencia.</li> 
                    </ul>
                    <div class="row">
                      <div class="col s12 valign-wrapper">
                         <div class="col s10">
                            <select id="select_criterio_difusion" name="rol" >
                                <option value="-1" disabled selected>Elija un Criterio</option>
                                <%= options_from_collection_for_select(CriterioDifusion.all, :id, :nombre) %>
                            </select>
                          </div>
                           <a href="javascript:void(0)" id="agregar-criterio-difusion" class="white-text red lighten-1 btn-sm btn-table-action tooltipped waves-effect" data-position="bottom" data-tooltip="Agregar" data-delay="20" style="float: none;"><i class="mdi-content-add"></i></a>
                      </div>
                       <span id="campanna_publicitarium_criterio_campanna_pubs_attributes-error_local" class="hiden msj-rojo"></span>
                    </div>
                    <div id="criterios-difusion">

                     
                    </div>
                    
                     
                  </div>
                </div>
              </div>
            
              <div class="form-actions">
                <div class="row pad15">
                  <div class=" col s12 text-center align-center ">
                    
                    <input type="submit" class="btn btn-success " value="Guardar">
                    <button type="button" onclick="window.location.href='/productos/campanna_publicitaria/consultar'" class="btn btn-danger waves-effect">Cancelar</button>

                  </div>
                </div>
              </div>
          </div>
          </div>

        </div>
      </div>

    </div>
  <% end %>
</div>


<% content_for :javascript_personalizado do %>  
  <%= javascript_include_tag 'validaciones/campanna_publicitaria' %>
<% end %>