<style type="text/css">

.wrapper {
    width: 99%;
    margin: 1em auto;
}

.masonry {
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.tabs .indicator {
    background-color: #878787;
}


</style>

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Sugerencias
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Sugerencias</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="row wrapper" >


  <div class="col s11">
    <div class="masonry">
      <% @sugerencias.each do |sugerencia| %>
        <% if ! sugerencia.nil?  %>
          <div class="item" >
            <div class="card  hoverable grey lighten-1">
              <div class="card-content grey-text text-darken-4">
              
                <div class="row no-margin-v valign-wrapper">
                  <div class="col s3 no-padding center-align">
                    <img class="responsive-img" src="<%= sugerencia.usuario.perfil.formato_foto %><%= sugerencia.usuario.perfil.foto %>" style="max-width: 70px; max-height: 70px; border-radius: 15%;">
                  </div>
                  <div class="col s9 center-align">
                    <p><%= sugerencia.usuario.perfil.nombres %> <%= sugerencia.usuario.perfil.apellidos %></p>
                    <p><%= sugerencia.usuario.email %> </p>
                    <p><%= sugerencia.created_at.strftime("%m/%d/%Y %I:%M%p") %> </p>
                  </div>
                </div>
              

                <span class="card-title grey-text text-darken-4"> <%= sugerencia.titulo %></span>

                <p><%= sugerencia.contenido %></p>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if request.subdomain.present? %>
    <div class="col s1">
      <div class="action-btn">

        <a href="/sugerencia/agregar" class="btn-floating btn-sm waves-effect waves-light red left tooltipped"  data-position="bottom" data-delay="50" data-tooltip="Agregar Sugerencia">
          <i class=" mdi-av-playlist-add"></i>
        </a>

      </div>
    </div>
  <% end %>

</div>
