<div class="pad15"></div>
<div id="form-registro-container" class="pad15 pad15-h center-block panel">
  <div id="titulo">
    <h3>¿Olvidó la Contraseña?</h3>
  </div>
  <div id="secciones" style="display:inline-block;width:100%;">
    <div class="pull-left seccion">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :id => "form-iniciar-sesion"}) do |f| %>
        <div><%= f.label :email,"Email" %><br />
        <%= f.email_field :email, :autofocus => true %></div>
        <br/>
        <%= devise_error_messages! %>
        <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, {id: "flash_#{name}", class: "msj-error"} %>
        <%- end -%>


        <input type="submit" value="Enviar" class= "btn "></input>

    <% end %>
    </div>
    <div class="pull-left seccion text-center s6">
      <div class="pad45">
        <i class="mdi-action-perm-contact-cal"></i><br>
        Si ya tienes una cuenta <a href="#login-form" class="modal-trigger">inicia sesi&oacute;n</a>
      </div>
    </div>
</div>
</div>

<div class="pad30"></div>
