<% content_for :css_personalizado do %>
  <style type="text/css">
    .checkbox-list input[type="checkbox"] + label {
        width: 33% !important;
        vertical-align: top;
        height: inherit;
    }
       .dropdown-content {
        
        max-height: 200px; 
      }
  </style>
<% end %>

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Editar Variable Psicográfica
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Editar Variable Psicográfica</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div  id="form_wizard_1" class="row pad30-h"  style="width: 100%">
  
  <%= form_for(@variable_psicografica,  :url => variable_psicografica_editar_path, :html => {id: "edit_variable_psicografica", :method => :post },  :multipart => true ) do |f| %>

    <div class="form-wizard">
      <div class="form-body steps ">
        <div class="tab-content">
          <div class="feedback alert alert-danger display-none">
            <button class="close" data-dismiss="alert"></button>
            Algunos campos tienen errores. Por favor revisa abajo.
          </div>
          <div class="feedback alert-success display-none">
            <button class="close" data-dismiss="alert"></button>
            La validación fue exitosa.
          </div>
            <div class="row">
              <div class="col s10 offset-s1 left panel z-depth-3 ">
                <h5>Datos de la Variable Psicográfica </h5>
                <div class="row">
                  <input id="id_variable_psicografica" name="id_variable_psicografica" class="file" value="<%= @variable_psicografica.id %>" hidden />
                  <div class="col s12">
                    <div class="input-field col s12">
                      <label for="variable_nombre">Nombre <span class="required">
                      * </span>
                      </label>
                      <%= f.text_field :nombre, :required=>true, autocomplete: "off" %>
                    </div>
                  
                    <div class="input-field col s12">
                      <label for="variable_descripcion">Descripción<span class="required">
                      * </span>
                      </label>
                      <%= f.text_area :descripcion, :required=>true, autocomplete: "off", class: "materialize-textarea", length: "120" %>
                    </div>
                  </div>
                  
                  <% if !Categorium.all.blank? %> 
                    <div class="col s12 ">  
                      <label for="variable_psicografica[categorium_ids][]">Categorias:</label>
                        <div class="checkbox-list" >
                          <%= f.collection_check_boxes( :categorium_ids, Categorium.all, :id, :nombre) %>
                        </div>
                        <span id='variable_psicografica_categorium_ids-error' class="hidden span-error-input">Debe Seleccionar una categoria.</span>
                    </div> 
                  <% end %>  

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="form-actions">
        <div class="row">
          <div class="offset-s4 col s8">
            <input type="submit" class="btn btn-success " value="Guardar">
            <button type="button" class="btn btn-danger waves-effect"
            onclick="window.location.href='/mercadeo/variablespsicograficas/consultar'">
            Cancelar</button>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>

<% content_for :javascript_personalizado do %>

  <%= javascript_include_tag 'validaciones/variable_psicografica' %>

  <script type="text/javascript">
  $(document).ready(function(){
          $('.alert-danger').hide();
          $('.alert-success').hide();       
      });
    </script>
<% end %>