<% content_for :css_personalizado do %>
    <%= stylesheet_link_tag    "plugins/fileinput.min" %> 
    <style type="text/css">
      .dropdown-content {
        max-height: 250px;  
      }
    </style>
<% end %>

<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-uppercase">
       Editar Publicidad
      </h5>
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Editar Publicidad</li>
      </ol>
    </div>
  </div>
</div>

<div  id="form" class="row pad30-h"  style="width: 100%">

  <%= form_for @publicidad, :url => publicidad_editar_path, html:{:method => :post, id: "add_publicidad", class: "form-horizontal"}, multipart: true do |f| %>
      <div class="form-wizard">
      <div class="form-body steps">

        <div class="tab-content">
          <div class="feedback alert alert-danger display-none">
            <button class="close" data-dismiss="alert">&times;</button>
            Algunos campos tienen errores. Por favor revisa abajo.
          </div>
          <div class="feedback alert alert-success display-none">
            <button class="close" data-dismiss="alert">&times;</button>
            La validación fue exitosa.
          </div>
          <div class="panel  hoverable pad30-h">

            <div class="row">
              

            <div class="row pad15">
              <div class="col s12  left ">
                <h5>Datos de la Publicidad </h5>
                
                <%= f.hidden_field :id %>
                <%= f.hidden_field :imagen, :required=>true, autocomplete: "off" %>
                <%= f.hidden_field :formato_imagen, :required=>true, autocomplete: "off" %>


                <div class="col s6">
                  <label>Fecha de Inicio <span class="required">*</span></label>
                  <input type="date" class="datepicker" id="publicidad_fecha_inicio" name="publicidad[fecha_inicio]"value="<%= @publicidad.fecha_inicio.strftime("%d/%m/%Y ") %>">
                  <span id="publicidad_fecha_inicio-error_local" class="hiden msj-rojo"></span>

                </div>

                <div class="col s6">
                  <label>Fecha de Finalización <span class="required">*</span></label>
                  <input type="date" class="datepicker" id="publicidad_fecha_finalizacion" name="publicidad[fecha_finalizacion]" value="<%= @publicidad.fecha_finalizacion.strftime("%d/%m/%Y ") %>" >
                  <span id="publicidad_fecha_finalizacion-error_local" class="hiden msj-rojo"></span>
                </div>
              
              </div>
            </div>

            <div class="col s12">
              <h6>Imagen de la Publicidad</h6>

              
              <div id="imagen" class="<%= @publicidad.formato_imagen %><%= @publicidad.imagen %>" > </div>
              

              <input id="imagen_publicidad" name="imagen_publicidad" type="file" class="file"  />

              
              <div class="pad15"></div>
              </div>
            </div>

            <div class="form-actions">
              <div class="row pad15">
                <div class="offset-s4 col s8">
                  
                  <input type="submit" class="btn btn-success " value="Guardar">
                  <button type="button" onclick="window.location.href='/publicidad/consultar'" class="btn btn-danger waves-effect">Cancelar</button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  <% end %>
</div>

<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/pwstrength-bootstrap-1.2.4.min" %>
  <%= javascript_include_tag 'plugins/fileinput.js' %>
  <%= javascript_include_tag 'validaciones/publicidad' %>

<% end %>
