<% content_for :css_personalizado do %>
    <%= stylesheet_link_tag    "plugins/fileinput.min" %> 
    <style type="text/css">
      .dropdown-content {
        max-height: 250px;  
      }
      .ui-datepicker-calendar {

    display: none !important;

}​

    </style>
<% end %>
<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Agregar Publicidad
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Crear Publicidad</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div  id="form_wizard_1" class="row pad30-h"  style="width: 100%">

  <%= form_for @publicidad, :url => publicidad_crear_publicidad_path, html:{id: "add_publicidad", class: "form-horizontal"}, multipart: true do |f| %>
    <div class="form-wizard">
      <div class="form-body steps">

        <div class="tab-content">
          <div class="feedback alert alert-danger display-none">
            <button class="close" data-dismiss="alert"></button>
            Algunos campos tienen errores. Por favor revisa abajo.
          </div>
          <div class="feedback alert-success display-none">
            <button class="close" data-dismiss="alert"></button>
            La validación fue exitosa.
          </div>
          <div class="panel  hoverable pad30-h">

            <div class="row">
              
              <div class="col s12">
                  <h5>Imagen de la Publicidad</h5>

                  
                  <div id="imagen" class="<%= @publicidad.formato_imagen %><%= @publicidad.imagen %>" > </div>
                  

                  <input id="imagen_id" name="imagen_id" type="file" class="file"  />

                  
                  <div class="pad15"></div>
              </div>
            </div>
            <div class="row pad15">
              <div class="col s12  left ">
                <h5 >Datos de la Publicidad </h5>
                

                <%= f.hidden_field :imagen, :required=>true, autocomplete: "off" %>
                <%= f.hidden_field :formato_imagen, :required=>true, autocomplete: "off" %>
            
              
                <div class="input-field col s12">
                  <label for="publicidad_descripcion">Descripción <span class="required">
                  * </span>
                  </label>
                  <%= f.text_area :descripcion, :required=>true, autocomplete: "off", class: "materialize-textarea", length: "30" %>

                </div>

                <div class="col s12">
                  <label>Producto <span class="required">*</span></label>
                  <%= f.collection_select(:producto_id, Producto.all, :id, :nombre) %>  
                </div>

                <div class="col s6">
                  <label>Fecha de Inicio <span class="required">*</span></label>
                  <input type="date" class="datepicker">
                </div>

                <div class="col s6">
                  <label>Fecha de Finalización <span class="required">*</span></label>
                  <input type="date" class="datepicker">
                </div>
              
              </div>


            </div>

            <div class="form-actions">
              <div class="row pad15">
                <div class="offset-s4 col s8">
                  
                  <input type="submit" class="btn btn-success " value="Guardar">
                  <button type="button" onclick="window.location.href='/productos/publicidad/consultar'" class="btn btn-danger waves-effect">Cancelar</button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  <% end %>
</div>


<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/pwstrength-bootstrap-1.2.4.min" %>
  <%= javascript_include_tag 'plugins/fileinput.js' %>
  
  <script>

    $("#imagen_id").fileinput({
      'browseLabel':'cambiar',
      'showCaption':false,
      'initialPreview': [ "<img src='" + $("#imagen").attr("class") +"' class='file-preview-image' alt='Avatar' title='Imagen de publicidad'>"],
      'initialPreviewShowDelete':false,
      'initialCaption':'archivo(s) seleccionado(s)',
      'allowedFileTypes':['image'],
      'allowedFileExtensions':['jpg', 'png', 'jpeg'],
      'browseClass':'btn btn-primary right',
      'browseIcon':'<i class="mdi-file-attachment"></i>',
      'showRemove':false,
      'showUpload':false,
      'uploadLabel':'Subir',
      'uploadIcon':'<i class="mdi-file-file-upload"></i>',
      'uploadClass':'btn btn-success ',
      'showClose':false
    });

function readImage() {
    if ( this.files && this.files[0] ) {
        var FR = new FileReader();
        FR.onload = function(e) {
          var formato = e.target.result.split(";base64,")[0] + ";base64,";
          var base64 = e.target.result.split( formato)[1];
          $("#publicidad_imagen").val(base64);
          $("#publicidad_formato_imagen").val(formato);
        };       
        FR.readAsDataURL( this.files[0] );
    }
}

$("#imagen_id").change( readImage );

</script>
<% end %>