<% content_for :css_personalizado do %>
    <style type="text/css">
      .dropdown-content {
        max-height: 250px;  
      }
    </style>
<% end %>
<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Publicidades
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Publicidades</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h">
  <div class="col s3">
      <ul class="collapsible filtro" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active  grey lighten-4">
            <i class="fa fa-calendar fa-2x deep-purple-text text-darken-1"></i>
            <span class="deep-purple-text text-darken-1">Fecha</span>
          </div>
          <div class="collapsible-body white">
            <div style = " display: table; width : 100%;">

              <div class="input-field col s6">
                <input id="Desde" type="date" class="datepicker">
                <label for="Desde" class = "morado">Inicio</label>

              </div>

              <div class="input-field col s6">
                <input id="Hasta" type="date" class="datepicker">
                <label for="Hasta" class = "morado">Fin</label>
              </div>

            </div>
            <a class="waves-effect waves-light btn z-depth-1 espacio pink accent-3" style = " margin-left: 27px;">Buscar </a>
          </div>
        </li>
      </ul>
  </div>

  <div class="col s9">
    <div class="row no-margin-v">
      <div class="input-field col m6 s12">
       <select id="select" name="rol" >
            <option value="-1" selected>Elija un Producto</option>
            <%= options_from_collection_for_select(Producto.all, :id, :nombre) %>
        </select>
        <label>Producto</label>
      </div>
    </div>

    <div class="row"> 
      <div class="col s12" align="justify">
        <% if !@publicidads.blank? %>
          <ul class="collapsible popout" >
            <% @publicidads.each do |publicidad| %>
              <% if ! publicidad.nil? %>
                <li>
                  <div class="collapsible-header grey lighten-4 active ">
                    <i class="fa fa-circle light-green-text text-accent-4 collapsible-header-org"></i>
                    <b class="grey-text text-darken-1">
                      <%= publicidad.titulo %>
                    </b>
                  </div>
                  <div class="collapsible-body white">
                    <div class="pad30-hv">
                      <div class="row no-margin-v">
                        <div class="row">
                          <img class="img-responsive" src=" <%= publicidad.formato_imagen %> <%= publicidad.imagen %>">
                        </div>

                        <div class="col s12 ">

                          
                          <div class="col s6 no-padding">
                            <p class="no-padding">
                              <b class="grey-text text-darken-3">Fecha de inicio:</b>
                              <%= publicidad.fecha_inicio.strftime("%d/%m/%Y ") %>
                            </p>
                          </div>
                          <div class="col s6 no-padding">
                            <p class="no-padding">
                              <b class="grey-text text-darken-3">Fecha de vencimiento:</b>
                              <%= publicidad.fecha_finalizacion.strftime("%d/%m/%Y ") %>
                            </p>
                          </div>
                          <p class="no-padding">
                            <b class="grey-text text-darken-3">Producto:</b>
                            <%= publicidad.producto.nombre %>
                          </p>
                          <p class="no-padding">
                            <b class="grey-text text-darken-3">Descripción:</b>
                            <%= publicidad.descripcion %>
                          </p>
                          
                          <div class="right">
                            <a href="/publicidad/editar/<%= publicidad.id %>">
                              Editar
                            </a>
                            <a href="#modal_deshabilitar<%= publicidad.id %>" class="modal-trigger " >
                              <% if (publicidad.estatus == 'A') %>
                                Deshabilitar
                              <% else %>
                                Habilitar
                              <%  end -%>
                            </a>
                            <a href="#modal_eliminar<%= publicidad.id %>" class="modal-trigger " >
                              Eliminar
                            </a>
                          </div>
                        </div>
                        
                      </div>

                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul> <!-- Fin collapse publicidads -->

          <div class="row valign-wrapper">
            <%= paginate(@publicidads) %>
          </div>

          <% @publicidads.each do |publicidad| %>
            <% if ! publicidad.nil? %>

              <div id="modal_deshabilitar<%= publicidad.id %>" class="modal">
                <div class="modal-content">
                  <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
                  <% if (publicidad.estatus == 'A') %>
                  <h5>Deshabilitar Publicidad</h5>
                  <% else %>
                  <h5>Habilitar Publicidad</h5>
                  <% end %>


                  <div class="row" style="padding-top: 35px;">
                    <div class="col s12 text-center">
                    <% if (publicidad.estatus == 'A') %>
                      <h6 style=" font-size: 20px;"> ¿Seguro que desea Deshabilitar la publicidad seleccionada?</h6>
                      <% else %>
                      <h6 style=" font-size: 20px;"> ¿Seguro que desea Habilitar la publicidad seleccionada? </h6>
                      <% end %>
                      <div style="padding-top: 35px;" class="right">
                        <% if (publicidad.estatus == 'A') %>
                          <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= publicidad.id %>,'I')">
                        <% else %>
                          <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= publicidad.id %>,'A')">
                        <% end %>
                         <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
                      </div>

                    </div>
                  </div>                
                </div>
              </div> 

              <div id="modal_eliminar<%= publicidad.id %>"class="modal">
                <div class="modal-content">
                  <a style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>

                  <h5>Eliminar Publicidad</h5>

                  <div class="row pad30-t" >
                    <div class="col s12 text-center">

                      <h6 style=" font-size: 20px;"> ¿Seguro que desea eliminar la publicidad seleccionada? </h6>

                      <div style="padding-top: 35px;" class="right">

                        <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="eliminar(<%= publicidad.id %>)">

                        <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
                      </div>

                    </div>
                  </div>                
                </div>
              </div> 

            <% end %>
          <% end %> <!-- Fin collapse modals -->

        <% end %>
      </div>
    </div>  
  </div>
</div>


<% content_for :javascript_personalizado do %>
  <script type="text/javascript">


  function update_estatus(idpublicidad, estatus){
    var request = $.ajax({
                            url: '/publicidad/update_estatus',
                            method: "POST",
                            data: { idpublicidad: idpublicidad, estatus: estatus},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                        location.reload(); 
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
    };

  function eliminar(idpublicidad){
    var request = $.ajax({
                            url: '/publicidad/eliminar',
                            method: "POST",
                            data: { idpublicidad: idpublicidad},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                        location.reload(); 
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
  }

  </script>
<% end %>