<div id="modal_obtener_iframe" class="modal transparent" style=" box-shadow: none; max-height: 80%; ">
  
  <div id="form_wizard_2" class="modal-content no-padding valign-wrapper center-block " >

    <div class="form-wizard valign-wrapper">

        <div class="col s1 text-center form-actions">
            <a class="btn-table-action btn-sm waves-effect waves-lightgrey grey lighten-5 button-previous" style=" float: initial;" ><i class="fa fa-chevron-left grey-text lighten-4 "></i></a>
        </div>
        <div class="col s10 grey lighten-5">
        <div class="form-body">
          <ul class="nav nav-pills nav-justified steps hide">
            <li id="step1" class="active">
              <a href="#tab1" data-toggle="tab" class="step active">
              <span class="number">
              1 </span>
              <span class="desc">
               Google Maps </span>
              </a>
            </li>
            <li >
              <a href="#tab2" data-toggle="tab" class="step">
              <span class="number">
              2 </span>
              <span class="desc">
              Buscar Direccion </span>
              </a>
            </li>
            <li>
              <a href="#tab3" data-toggle="tab" class="step ">
              <span class="number">
              3 </span>
              <span class="desc">
               Compartir </span>
              </a>
            </li>
            <li>
              <a href="#tab4" data-toggle="tab" class="step">
              <span class="number">
              4 </span>
              <span class="desc">
               Copiar Mapa </span>
              </a>
            </li>
            <li>
              <a href="#tab5" data-toggle="tab" class="step">
              <span class="number">
              4 </span>
              <span class="desc">
              Seleccionar URL </span>
              </a>
            </li>
            <li>
              <a href="#tab6" data-toggle="tab" class="step">
              <span class="number">
              5 </span>
              <span class="desc">
              Seleccionar URL </span>
              </a>
            </li>
            <li>
              <a href="#tab7" data-toggle="tab" class="step">
              <span class="number">
              7 </span>
              <span class="desc">
              Seleccionar URL </span>
              </a>
            </li>
            <li>
              <a href="#tab8" data-toggle="tab" class="step">
              <span class="number">
              8 </span>
              <span class="desc">
              Seleccionar URL </span>
              </a>
            </li>
          </ul>
          <div class="pad10-t">
            <a style="float:right;" class="waves-effect btn-flat modal-close button-first"  onclick="cerrarInstrucciones()"><i class="mdi-content-clear"></i></a>
                <h5>¿C&oacute;mo Obtener?</h5>
              </div>
          <div class="tab-content pad10-t">

            <div class="tab-pane active" id="tab1">
              <div class="row">
                <div class="col s12">
                  <p>
                    <span class="text-pink">1.</span>
                    Ingresar al sitio web de <a href="https://www.google.com/maps" target="_blank">
                    <strong class="text-purple">Google Maps.</strong></a>
                  </p></br>
                    <img src="<%= asset_path 'instrucciones-iframe-1.png' %>" width="100%" >
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab2">
              <div class="row ">
                <div class="col s12">
                  <p>
                    <span class="text-pink">2.</span>
                    En la parte superior izquierda, indicar la direcci&oacute;n de la organizaci&oacute;n y <strong class="text-purple"> buscar </strong>.
                  </p></br>
                  <img src="<%= asset_path 'instrucciones-iframe-2.png' %>" width="100%" >
                </div>
              </div>
            </div>

            <div class="tab-pane " id="tab3">
              <div class="row">
                <div class="col s12">
                  <p>
                    <span class="text-pink">3.</span>
                    Podr&aacute;s visualizar el mapa de la organizaci&oacute;n, usa
                    <img class="text-img" src="<%= asset_path 'iframe-zoom.png' %>"/>   
                    <span id="text-left">para manejar el 
                    <strong class="text-purple">zoom</strong>.
                    </span>
                  </p></br>
                  <img src="<%= asset_path 'instrucciones-iframe-3.png' %>" width="100%" >
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab4">
              <div class="row">
                <div class="col s12">
                  <p>
                    <span class="text-pink">4.</span>
                    Cuando est&eacute;s satisfecho con el mapa que observas, hacer click en
                    <strong class="text-purple">men&uacute;</strong>.
                    <img style="padding-left:1%" class="text-img" src="<%=asset_path 'iframe-menu.png' %>">
                  </p></br>
                  <img src="<%= asset_path 'instrucciones-iframe-4.png' %>" width="100%" >
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab5">
              <div class="row">
                <div class="col s12">
                  <p>
                    <span class="text-pink">5.</span>
                    Hacer click en la opci&oacute;n de
                    <strong class="text-purple">compartir</strong>.
                    <img class="text-img" style="padding-left:1%" src="<%= asset_path 'iframe-clip.png' %>">
                  </p></br>
                  <img src="<%= asset_path 'instrucciones-iframe-5.png' %>" width="100%" >
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab6">
              <div class="row">
                <div class="col s12">
                  <p>
                    <span class="text-pink">6.</span>
                    Seleccionar la opci&oacute;n de
                    <strong class="text-purple">insertar mapa</strong>.
                  </p></br>
                  <img src="<%= asset_path 'instrucciones-iframe-6.png' %>" width="100%" >
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab7">
              <div class="row ">
                <div class="col s12">
                  <p>
                    <span class="text-pink">7.</span>
                    Seleccionar la direcci&oacute;n URL que se encuentra entre comillas (" ") y 
                    <strong class="text-purple"> copiar </strong>.
                    Es importante notar, que solo se copia lo que est&aacute; entre las primeras comillas (es un contenido extenso).
                  </p>
                  <img src="<%= asset_path 'instrucciones-iframe-7.png' %>" width="100%" >
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab8">
              <div class="row ">
                <div class="col s12">
                  <p>
                    <span class="text-pink">7.</span>
                    Finalmente,  
                    <strong class="text-purple"> pegar </strong>
                    la URL copiada en el campo ubicaci&oacute;n y
                    <strong class="text-purple"> guardar </strong>.
                  </p></br>
                  <img src="<%= asset_path 'instrucciones-iframe-8.png' %>" width="100%" >
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row right-align">
          <a  class=" modal-close waves-effect waves-lightgrey btn-flat blue-text button-first" onclick="cerrarInstrucciones()">Entendido</a>
        </div>
        
      </div>

      <div class="col s1 text-center form-actions">
            <a class="btn-table-action btn-sm waves-effect waves-lightgrey grey lighten-5 button-next" style=" float: initial;"><i class="fa fa-chevron-right grey-text lighten-4 "></i></a>
        </div>
    </div>
  </div>
</div>

          
<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/jquery.bootstrap.wizard.min" %>
  <%= javascript_include_tag "plugins/pwstrength-bootstrap-1.2.4.min" %>
<script type="text/javascript">

      var FormWizard = function () {
          return {
              //main function to initiate the module
              init: function () {
                $('#form_wizard_2').find('.button-previous').hide();
                  if (!jQuery().bootstrapWizard) {
                      return;
                  }

                  var handleTitle = function(tab, navigation, index) {

                      var total = navigation.find('li').length;

                      var current = index + 1;

                      // set done steps
                      jQuery('li', $('#form_wizard_2')).removeClass("done");
                      var li_list = navigation.find('li');
                      for (var i = 0; i < index; i++) {
                          jQuery(li_list[i]).addClass("done");
                      }

                      if (current == 1) {
                          $('#form_wizard_2').find('.button-previous').hide();
                      } else {
                          $('#form_wizard_2').find('.button-previous').show();
                      }

                      if (current >= total) {
                          $('#form_wizard_2').find('.button-next').hide();

                      } else {
                          $('#form_wizard_2').find('.button-next').show();
                      }
                  }
                  // default form wizard
                  $('#form_wizard_2').bootstrapWizard({
                      'nextSelector': '.button-next',
                      'previousSelector': '.button-previous',
                      'firstSelector':'.button-first',
                      onNext: function (tab, navigation, index) {
                          handleTitle(tab, navigation, index);
                      },
                      onPrevious: function (tab, navigation, index) {
                          handleTitle(tab, navigation, index);
                      },
                      
                  });

              }

          };

      }();
  $(document).ready(function(){


      FormWizard.init();
  });

  function cerrarInstrucciones(){

    $('#form_wizard_2').find('.button-previous').hide();
    $('#form_wizard_2').find('.button-next').show();

  }; 

</script>
  
  
<% end %>