<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "plugins/star-rating.min" %> 
  <%= stylesheet_link_tag    "star-product" %> 

  <style type="text/css">
    .tabs .indicator {
      background-color: #616161;
    }

    .card .card-content .card-title {
        line-height: 25px;
    }

    .card .card-title {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
    }
    
    .card .card-reveal {
      padding: 12px;
    }
    .star-rating .caption .caption {
	    padding-left: 5px;
	    padding-right: 5px;
	}
  </style>
<% end %>

<script type="text/javascript" src="http://lvh.me:3000/jquery/jquery-1.10.2.min.js"></script>


<div class="pad60-h">
	<h4>Nuestros  <%=@organizacion.tipo_organizacion.nombre%> </h4>
	<div class="row valign-wrapper">
		<div style="text-align: initial;">
        <% if !@productos.blank? %>
           <% for producto in @productos %>

              <div class = "col s4" >
                <div class="card hoverable">

                  <div class="card-image">
                    <img src="<%= producto.formato_imagen %><%= producto.imagen %>" class="activator img-responsive">
                  </div>

                  <div class="card-content  pad5-hv left-align">
                   <div class="row no-margin-v">
                     <span class="card-title activator grey-text text-darken-4">
                        <div class="col s10">
                          <%= producto.nombre %>
                        </div>
                        <div class="col s2"> 
                          <i class="material-icons right  mdi-navigation-more-vert waves-effect"></i>
                        </div>
                      </span>
                    </div>
                  </div>

                  <% promedio = Puntuacion.where("producto_id = ?", producto.id).average(:puntuacion) %>

                  <div class="card-action pad5-15">
                    <div class="row no-margin-v">
                      <div class="col s8">
                        <input id="input_star_<%= producto.id %>" class="rating left" data-symbol="&#xf005; " value="<% if !promedio.nil? %> <%= promedio %> <% end %>">
                      </div>
                      <div class="col s4">
                        <span class = "blue-text right"> $<%= producto.precio %></span>
                      </div>
                    </div>
                    <a href="/catalogo/<%= producto.id %>" class="waves-effect"> Ver </a>
                  </div>

                  <div class="card-reveal left-align">
                    <div class="row" style="margin-bottom: 12px;">
                      <span class="card-title grey-text text-darken-4">
                        <div class="col s10">
                          <%= producto.nombre %>
                        </div>
                        <div class="col s2"> 
                          <i class="material-icons right mdi-navigation-close waves-effect"></i>
                        </div>
                      </span>
                    </div>
                    <div class="col s12">
                      <p><%= producto.descripcion %></p>
                      <span class="blue-text right">
                        $<%= producto.precio %>
                      </span>
                    </div>
                  </div>
                  
                </div>
            
              </div>

               <script type="text/javascript">
                $(document).ready(function(){
                  var star_input = '#input_star_' + <%= producto.id %>;

                  $(star_input).rating({
                        size:"xs",
                        glyphicon: false,
                        disabled:true,
                        hoverEnabled: false,
                        showCaption: true,
                        showClear:false,
                        ratingClass: "rating-fa", // the rating class will ensure font awesome icon rendering
                        clearButtonTitle: "Limpiar",
                        clearButton:'<i class="mdi-content-remove"></i>',
                        clearCaption: "",
                        clearCaptionClass: "transparent",
                        starCaptions: function(val) { return Math.round(val * 100) / 100;},
                        starCaptionClasses: function(val) { return 'label transparent';},
                   });

                });
              </script>

            <% end %>
        <% else %>
          
        <% end %>
           
    </div>
	</div>
</div>
</br>
<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/star-rating.min" %>    
<% end -%>