<% content_for :css_personalizado do %>

  <%= stylesheet_link_tag    "owl.carousel" %>
  <%= stylesheet_link_tag    "owl.theme" %>
  <%= stylesheet_link_tag    "owl.transitions" %>
  <style type="text/css">
  #index-principal {
    background-image: url("<%=@organizacion.formato_banner.to_s %><%=@organizacion.banner.to_s %>") !important;
    height: 708px;
}
</style>
<% end %>

<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-capitalize ">
        Apariencia del portal
      </h5>
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Apariencia</li>
      </ol>
    </div>
  </div>
</div>

<div class="row pad30-h">

  <ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header grey lighten-4 active">
        <i class="fa fa-file-image-o no-margin"></i><b>Banner </b>
        <a href="/organizacion/apariencia/editar_banner" style="float:right; line-height: 3rem; height: auto ; " class="waves-effect btn-flat modal-trigger grey-text text-darken-1"><b><i class="fa fa-edit no-margin"> </i>  Editar</b></a>
      </div>
      <div class="collapsible-body white">
        <% if request.subdomain.present?  %>
          <div class="org-contenedor-banner banner-organizacion-edit">
            <div>
              <div class="org-contenedor-banner-edit org-contenedor-banner-edit">
                <img src="<%= @organizacion.formato_banner %><%= @organizacion.banner %>" class="responsive-img"/>
              </div>

              <% if @organizacion.titulo_banner.nil? || @organizacion.titulo_banner != "" %>
                <div class="org-contenedor-texto pad30-t">
                  <h1><%= @organizacion.titulo_banner %> </h1><br />
                  <h5><%= @organizacion.subtitulo_banner %></h5>
                  
                  <div class="pad55-t">
                    <a class="waves-effect btn">Con&oacute;cenos</a>
                  </div>
                </div>  
              <% end %>
            </div>
          </div>
        <% else %>
          <div id="index-principal">
              <div id="index-principal-contenido" class="white-text">
               <% if @organizacion.titulo_banner.nil? || @organizacion.titulo_banner != "" %>
                  <h1><%= @organizacion.titulo_banner %> </h1><br />
                  <h5><%= @organizacion.subtitulo_banner %></h5>
                  <a href="#index-marco" class="waves-effect btn">&iquest;C&oacute;mo funciona?</a>
              <% end %>
              </div>
              <!-- **************** -->
              <!-- *SLIDE CLIENTES* -->
              <!-- **************** -->
              <div id="index-clientes">
                <div id="index-clientes-slider">
                  <div> <img src="<%= asset_path 'index-slide-cliente1.png' %>"></div>
                  <div> <img src="<%= asset_path 'index-slide-cliente2.png' %>"></div>
                  <div> <img src="<%= asset_path 'index-slide-cliente3.png' %>"></div>
                  <div> <img src="<%= asset_path 'index-slide-cliente4.png' %>"></div>
                  <div> <img src="<%= asset_path 'index-slide-cliente5.png' %>"></div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </li>
    <li>
      <div class="collapsible-header grey lighten-4 active "> <i class="fa fa-map-marker no-margin"></i><b>Ubicaci&oacute;n en Google Maps</b></div>
      <div class="collapsible-body white">

        <div class="row pad30-hv">
          <div class="col s6 ">
            <div class = "mapa white no-margin  no-margin-v <% if @organizacion.iframe.nil? || @organizacion.iframe == "" %>hidden<% end %>" style="width:100%">
              <iframe src = "<% if !@organizacion.iframe.nil? || !@organizacion.iframe == "" %><%= @organizacion.iframe %><% end %>" width="100%" height="400px" frameborder="0" allowfullscreen> </iframe>
            </div>
          </div>

          <div class="col s6" align="justify">
            <ul class="pad30-h">
              <li>
                <span>
                Es el mapa ubicaci&oacute;n geogr&aacute;fica de la organzaci&oacute;n en Google Maps, el cual se mostrar&aacute; en la p&aacute;gina principal del dominio de la empresa.
                </span>
              </li>
              <li class="pad5-t">
                <a href="#modal_obtener_iframe" class="modal-trigger">
                ¿C&oacute;mo obtener? 
                </a>
              </li>
              <% if @organizacion.iframe.nil? || @organizacion.iframe == "" %>
                <li class="pad5-t">
                  <a href="/organizacion/apariencia/editar_ubicacion" >
                    Agregar
                  </a>
                </li>
              <% else %>
                <li class="pad5-t">
                  <a href="/organizacion/apariencia/editar_ubicacion">
                     Editar 
                  </a>
                </li>
                <li class="pad5-t">
                  <a href="#modal_eliminar"  class="modal-trigger">
                    Eliminar 
                  </a>
                </li>
              <% end %>
              
              
            </ul>
          </div>

        </div>
      </div>
    </li>
    
  </ul>

 
  <div id="modal_eliminar" class="modal ">
    <div class="modal-content">
      <a style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
     
        <h5>Eliminar ubicaci&oacute;n</h5>
     
      <div class="row" style="padding-top: 35px;">
        <div class="col s12 text-center">
            <h6 style=" font-size: 20px;"> ¿Seguro que desea Eliminar la ubicaci&oacute;n geogr&aacute;fica de la organizaci&oacute;n? </h6>
                      
            <div  class="right pad30-t">
                     
              <input type="button" class="btn btn-success btn-sm modal-close" value="Aceptar" onclick="eliminar_iframe(<%= @organizacion.id %>)">
                      
              <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar" >
            </div>

        </div>
      </div>   

    </div>   
  </div>
  
  <%= render "organizacions/instrucciones_iframe" %>
</div>


<% content_for :javascript_personalizado do %>

<%= javascript_include_tag 'owl.carousel.min' %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#index-clientes-slider").owlCarousel({
          items: 3,
          pagination: false,
          autoPlay: 3000,
          navigation: true,
          navigationText: ["<i class='mdi-hardware-keyboard-arrow-left'></i>",
          "<i class='mdi-hardware-keyboard-arrow-right'></i>"] 
        });
    });

function eliminar_iframe (idorganizacion) {
    var request = $.ajax({
                            url: '/organizacion/eliminar_ubicacion_iframe',
                            method: "POST",
                            data: { organizacion_id: idorganizacion},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                        location.reload(); 
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
}


</script>
<% end %>
