<style type="text/css">
	.contact-map{
		max-width: 100%;
		width: 1680px;
		height: 500px;
		padding-top: 0px;
	}

	.banner-organizacion {
    height: 200px;
    width: 100%;
    position: relative !important;
	}

	.boton{
		width:300px;
		height: 50px;
		border-radius:10px;
	}

	.nombre{
		display: inline-block;
		padding: 15px 25px;
		color: #fff;
	}
</style>

<!-- Banner -->
<div class="row titulo-seccion banner banner-perfil no-margin-v">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">Contáctanos</h5>
      </div>
    </div>
</div>

<% if !@organizacion.iframe.nil? %>
<div class="org-contenedor-banner banner-organizacion">
	<div>
		<div class="org-contenedor-banner org-contenedor-banner-img">
			<iframe class="contact-map" src="<%= @organizacion.iframe %>" frameborder="0" allowfullscreen></iframe>
		</div>		
	</div>
</div>
<% end %>

<div class="text-center container org-contenedor-contenido row col 12">

	<div class="col s6">
  		<form class="col s8 offset-s2">
		        <div class="input-field" >
		          <input id="nombre" type="text" class="validate">
		          <label for="nombre">Nombre</label>
		       </div>
		
		        <div class="input-field">
		          <input id="email" type="email" class="validate">
		          <label for="email">e-Mail</label>
		        </div>

		        <div class="input-field">
		          <input id="asunto" type="text" class="validate">
		          <label for="asunto">Asunto</label>
		        </div>

		        <div class="input-field">
		           <textarea id="mensaje" type="text" class="validate materialize-textarea" length="120"></textarea>
		          <label for="mensaje">Mensaje</label>
		        </div>

		    <div class="text-center row">
		        <button class="btn waves-effect pink accent-4 lighten-2" type="submit" name="action">ENVIAR 
		          <i class="fa fa-paper-plane"></i>
		        </button>
		    </div>
		</form>
	</div>

	<div class="col s6" style="padding-top: 4%; padding-left:10%;">
	<% if !@organizacion_red_social.blank? %>
		<% @organizacion_red_social.each do |organizacion_red_social| %>
			<% if !organizacion_red_social.blank? %>
			<div class="row">
				<div href="#" class="boton" style="padding-bottom:20px; background-color: <%= organizacion_red_social.red_social.color %>">
					<a class="nombre"  href="<%= organizacion_red_social.url %>">
						<i class="<%= organizacion_red_social.red_social.icono %>"></i>
						<%= organizacion_red_social.red_social.nombre %>
					</a>
				</div>
			</div>
			<% end %>
	 	<% end %>
	<%  end -%>
		
	</div>

</div>

