<div class="row titulo-seccion banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-capitalize ">
          Editar Ubicaci&oacute;n en Google Maps
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Editar Ubicaci&oacute;n</li>
        </ol>
      </div>
    </div>
</div>

<div class="row pad30-h">
  <div id="editar-iframe" >
        

      <div class="row" style="padding-top: 35px;">
        <div class="col s12 "> 
          <%= form_for(@organizacion, :url => organizacion_editar_ubicacion_path, :html => { :method => :post, :class => "pad15"}) do |f| %>      
            <input id="organizacion_id" name="organizacion_id" class="file" value="<%= @organizacion.id %>" hidden />    
            <div class="col s6">
              <div class="input-field row">
                <textarea id="organizacion_iframe" name="organizacion[iframe]" type="text" class="active materialize-textarea"><% if !@organizacion.iframe.nil? || !@organizacion.iframe == "" %><%= @organizacion.iframe %><% end %></textarea> 
                <label for="organizacion_iframe">Ubicaci&oacute;n:</label>
                 <a href="javascript:void(0)" id="actualizar_mapa" class="pad5 waves-effect waves-lightgrey blue-text" >
                  Actualizar Mapa
                  </a>
                   <a href="#modal_obtener_iframe" class="modal-trigger pad5 pad15-h waves-effect waves-lightgrey" style="float:right">
                  ¿C&oacute;mo Obtener? 
                </a>
              
              </div>
              <div class="row text-center">
                 <input type="submit" class="btn btn-success btn-sm" value="Guardar">
                  <button type="button" onclick="window.location.href='/organizacion/apariencia/portal'" class="btn btn-danger waves-effect">Cancelar</button>
              </div>
            </div>
          <% end %>

            <div class="col s6 left-align">
              <div id="mapa" class="mapa white no-margin  no-margin-v <% if @organizacion.iframe.nil? || @organizacion.iframe == "" %>hidden<% end %>" style="width:100%">
                <iframe id="iframe_organizacion" src = "<% if !@organizacion.iframe.nil? || !@organizacion.iframe == "" %><%= @organizacion.iframe %><% end %>"  width="100%" height="400px" frameborder="0" allowfullscreen> </iframe>
              </div>
            </div>
            
         
        </div>
      </div>
    
  </div>

  <%= render "organizacions/instrucciones_iframe" %>
  
</div>
<% content_for :javascript_personalizado do %>
  <script type="text/javascript">
    $('#actualizar_mapa').on('click',function(){
      var ubicacion = $('#organizacion_iframe').val();
      if (ubicacion == "") {
        $('#mapa').hide("slow");
      } else{
        $("#mapa").removeClass("hidden")
        $('#iframe_organizacion').attr('src', ubicacion);
        $('#mapa').hide("fast");
        $('#mapa').show("slow");
      };
      
    });

  </script>
<% end %>