<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "usuarios" %> 
 <%= stylesheet_link_tag    "plugins/fileinput.min" %> 
<link rel="stylesheet" href="http://lvh.me:3000/bootstrap-3.2.0/css/bootstrap.css"/>

<% end %>

<div class="row titulo-seccion banner banner-perfil">
  <div class="contenedor">
    <div class="col s6">
      <h5 class="text-capitalize ">
        Editar Banner de la Organizac&oacute;n
    </div>
    <div class="col s6 text-right ">
      <ol class="breadcrumb">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li class="active">Editar Banner</li>
      </ol>
    </div>
  </div>
</div>

<div class="row pad30-h">

  <div class="row no-margin no-margin-v panel">
   <%= form_for(@organizacion, :url => organizacion_save_banner_path, :html => { :method => :post, :class => "pad15"}) do |f| %>
      <div class="col s6 ">
        <div class="row">

          <div class="col s12 ">
            <h5>Texto del Banner</h5>

               <%= f.hidden_field :banner, :required=>true, autocomplete: "off" %>
               <%= f.hidden_field :formato_banner, :required=>true, autocomplete: "off" %>
           
              <input id="organizacion_id" name="organizacion_id" class="file" value="<%= @organizacion.id %>" hidden />
              <div class="input-field">
                <%= f.label :titulo_banner, "Titulo",
                    {for: "organizacion_titulo_banner"} %>
                <%= f.text_area :titulo_banner, :autofocus => false, autocomplete: "off", :class=>"materialize-textarea", length: "40" %>
              </div>

              <div class="input-field">
                <%= f.label :subtitulo_banner, "Subtitulo", 
                      {for: "organizacion_subtitulo_banner"} %>
                <%= f.text_area :subtitulo_banner , autocomplete: "off", :class=>"materialize-textarea" , length: "80"  %>
              </div>
          </div>

        </div>
        
      </div>

      <div class="col s6">
        <div class="row">
          <div class=" col s12 " align="right">
            <h5 align="left">Imagen del Banner</h5>
            <input id="organizacion_id" name="organizacion_id" value="<%= @organizacion.id %>" hidden />

            <div id="banner" class="<%= @organizacion.formato_banner%><%= @organizacion.banner%>" > </div>


            <input id="banner_id" type="file" name="inputfcount1[]" multiple  class="file" accept="image/*" data-upload-url="/image/banner"/>
            <div class="pad15"></div>

          </div>


        </div>
        
      </div>

      <div class="row center-align">
        <%= f.submit "Guardar", {class: "btn btn-success"} %>
        <button type="button" onclick="window.location.href='/organizacion/apariencia/portal'" class="btn btn-danger waves-effect">Regresar</button>       
      </div>

    <% end %>

  </div>

</div>


<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag 'plugins/fileinput.js' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'plugins/fileinput_locale_es' %>

  <script type="text/javascript">

    $("#banner_id").fileinput({
       language: 'es',
       'maxFileCount': 1,
    validateInitialCount: true,
      'browseLabel':'Cambiar',
      'showUploadedThumbs': true,
      'showCaption':true,
       'initialPreview': [
        "<img src='" + $("#banner").attr("class") +"' class='file-preview-image' alt='Banner' title='Banner actual'>"
      ],
      /*'initialPreviewShowDelete':true,*/
     /*'initialCaption':'Archivo(s) Seleccionado(s)',*/
      'allowedFileTypes':['image'],
      'allowedFileExtensions':['jpg', 'png', 'jpeg'],
      'browseClass':'btn btn-primary',
      'browseIcon':'<i class="mdi-file-attachment"></i>',
      'showRemove':false,
      'showUpload':false,
      'uploadLabel':'Subir',
      'uploadIcon':'<i class="mdi-file-file-upload"></i>',
      'uploadClass':'btn-success btn-sm',
       'removeTitle': 'Eliminar',
    });

  function readImage() {
      
    if ( this.files && this.files[0] ) {
        var FR = new FileReader();
        FR.onload = function(e) {
          var formato = e.target.result.split(";base64,")[0] + ";base64,";
          var base64 = e.target.result.split(formato)[1];
          $("#organizacion_banner").val(base64);
          $("#organizacion_formato_banner").val(formato);
        };       
        FR.readAsDataURL( this.files[0] );
       
    }

  }

  $("#banner_id").change( readImage );
     
  </script>
<% end %>