<% @organizacion = Organizacion.find_by(subdominio: request.subdomain) %>

<div>
	<div>

			<div class="org-contenedor-banner">
				<%= render "organizacions/banner" %>
			</div>

			<div class="text-center container org-contenedor-contenido">

				<%= render "organizacions/producto" %>
				<br/>
	
				<%= render "organizacions/slider" %>
				<br/>
				<img class="index-separador" src="<%= asset_path'general-separador.png' %>">
				<br />


				<%= render "organizacions/informacion" %>
				<img class="index-separador" src="<%= asset_path'general-separador.png' %>">
				<br />

				<%= render "organizacions/contacto" %>

			</div>
	</div>
</div>

