<% content_for :css_personalizado do %>
	<%= stylesheet_link_tag    "owl.carousel" %>
	<%= stylesheet_link_tag    "owl.theme" %>
	<%= stylesheet_link_tag    "owl.transitions" %>
<% end %>

<% @organizacion = Organizacion.find_by(subdominio: request.subdomain) %>
<% @tipo = TipoOrganizacion.find_by(id: @organizacion.tipo_organizacion_id) %>

<div>
	<div>

			<div class="org-contenedor-banner banner-organizacion">
				<%= render "organizacions/banner" %>
			</div>

			<div class="text-center container org-contenedor-contenido pad30">

				<%= render "organizacions/producto" %>
				<br/>
	
				<%= render "organizacions/slider" %>
				<br/>
				<img class="index-separador" src="<%= asset_path'general-separador.png' %>">
				<br />


				<%= render "organizacions/informacion" %>
				<img class="index-separador" src="<%= asset_path'general-separador.png' %>">
				<br />

				<%= render "organizacions/contacto" %>

			</div>
	</div>
</div>
<% content_for :javascript_personalizado do %>
	<%= javascript_include_tag 'owl.carousel.min' %>
  	<script type="text/javascript">
		$(document).ready(function() {
  			$("#index-clientes-slider").owlCarousel({
  				items: 3,
  				pagination: false,
  				autoPlay: 3000,
  				navigation: true,
  				navigationText: ["<i class='mdi-hardware-keyboard-arrow-left'></i>",
					"<i class='mdi-hardware-keyboard-arrow-right'></i>"] 
  			});
		});
	</script>
<% end %>