<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "plugins/star-rating.min" %> 
  <%= stylesheet_link_tag    "star-product" %>
  <%= stylesheet_link_tag    "dashboard.css" %>

  <style type="text/css">
  .texto {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    text-align: justify;
    }
  
  aside{
    padding-left: 30px;
    display: block;
    padding-top: 50px;  
  }
  .image-producto{
    background-image: url(<%= asset_path 'trofeo.png' %>) !important;
    background-size: cover;

  }
  </style>
<% end %>

<script type="text/javascript" src="http://lvh.me:3000/jquery/jquery-1.10.2.min.js"></script>

<div class="row titulo-seccion banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">Nuestro Trabajo</h5>
      </div>
      <!-- Banner -->
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Nosotros</a>
          </li>
        </ol>
      </div>
    </div>
</div>

<!-- Contenedor -->
<div class="row pad30-h container" style="text-align:center">
  <!-- Titulo-->
  <div class= "col s12">
    <h5 class="text-uppercase"><%= @organizacion.slogan %></h5>
  </div>
  <!-- descripcion-->
  <div class="col s6 offset-s3" style="padding-top:2%">
    <p><%= @organizacion.descripcion %></p>
  </div>
  <!-- Dashboard -->
  <div class="row">
    <div class="col s12" style="padding-top:2%">
      <div id="dashboard-wrapper">
        <div class="row-30">
          <div class="box height-1 image-producto" >
          </div>
          <div class="box height-2 pink white-text">
              <h5><i class="fa fa-phone"></i> <%= @organizacion.nombre %></h5>
              <ul>
                <li>
                  <span> <strong><%= @organizacion.direccion %></strong> </span>
                </li>
                <li>
                   <span> <strong><%= @organizacion.telefono %></strong> </span>
                </li>
                <li>
                     <span> <strong><%= @organizacion.email %></strong> </span>
                </li>
              </ul>
            </div>
          </div>

          <div class="row-30">
            <div class="box height-2 dark-pink white-text" align="left">
                <h5><i class=" fa fa-share-alt-square "></i> Interacciones</h5>
                <ul>
                  <li>
                    <strong><%= @comentarios_count[3]  %></strong> 
                    <strong>Comentarios</strong>
                  </li>
                  <li>
                    <strong><%= @like_count[3]  %></strong> 
                    <strong>Me Gusta</strong>
                  </li>
                   <li>
                    <strong><%= @share_count[3] %></strong> 
                    <strong>Compartir</strong>
                  </li>
                   <li>
                    <strong><%= @difusiones_count[3]  %></strong>
                    <strong>Difusiones</strong>
                  </li>
                  
                </ul>
              </div>
              <div class="box height-1 blue center-align white-text valign-wrapper">
                <h5 class="valign"><i class="fa fa-flag"></i> campañas publicitarias</h5>
              </div>
            </div>

            <div class="row-30">
              <div class="box height-1 blue white-text center-align valign-wrapper">
                <div class="valign">
                  <h5  class="left-align"><i class="fa fa-briefcase"></i> Nuevos contratos</h5>
                  <h3><small style="float:right;">$120.000,00</small></h3>
                </div>
              </div>
              <div class="box height-2 purple white-text left-align">
                <h5><i class="fa fa-envelope"></i> Comentarios</h5>
                <ul>
                  <% @comentarios.each do |comentario| %>
                    <li>
                      <strong><%= comentario.usuario.username %></strong> <%= comentario.created_at.strftime("%d/%m/%Y ") %><br/>
                      <strong> <%= comentario.contenido %></strong>
                    </li>
                   <% end -%>
                  
                </ul>
              </div>
            </div>

            <div class="row-10">
              <div class="box height-1 dark-blue center-align white-text valign-wrapper">
                <div class="valign">
                  <h5><i class="fa fa-twitter"></i> Twitter</h5>
                  <h5><%= @cliente_twitter.user.favorites_count %></h5>
                  <span>Favoritos</span>
                </div>
              </div>
              <div class="box height-1 blue center-align white-text valign-wrapper">
                <div class="valign">
                  <h5><i class="fa fa-twitter"></i> Twitter</h5>
                  <h4 class="white-text"><%= @cliente_twitter.user.followers_count %></h4>
                  <span>followers</span>
                </div>
              </div>
              <div class="box height-1 dark-pink center-align white-text valign-wrapper">
                <div class="valign">
                  <h5><i class="fa fa-user"></i>Clientes</h5>
                  <h4 class="write-text"><%= @clientes.length %></h4>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  <!-- Mision y Vision -->
  <div  style="float:middle; margin-top:4%">
    <div class="col s6" style="padding-top:2%">
      <p><b>Mision</b></p>
      <img style="float:left; margin-right:4%;" src="<%= asset_path 'org-mision.png' %>">
      <p class="texto"> <%= @organizacion.mision %></p>   
    </div>
    <div class="col s6" style="padding-top:2%">
      <p><b>Vision</b></p>
      <img style="float:left; margin-right:4%" src="<%= asset_path 'org-vision.png' %>">
      <p class="texto"><%= @organizacion.vision %></p>
    </div>
  </div>

  <!-- separador -->
  <img src="<%= asset_path 'separator.png' %>">
  <br />

  <!-- texto -->
  <div style="text-align:center; padding-top:2%">
    <p class="text-uppercase col s6 offset-s3"><%= @organizacion.subtitulo_banner %></p>
  </div>

  <!-- separador -->
  <img src="<%= asset_path 'separator.png' %>">

  <!-- Productos Populares-->
  <div style="padding-top:2%">
    <h5 class="text-uppercase col s6 offset-s3 text-uppercase">Top <%= @organizacion.tipo_organizacion.nombre %></h5>
  </div>

  <% @top_puntuacion.each do |producto| %>
    <% @promedio =  Interaccion.where("producto_id = ?  AND tipo_interaccion = ? ", producto.id, Interaccion.tipo_interaccions["puntuacion"]).average(:contenido) %>
    <div class = "col s12 m4" style="padding-top:2%">
      <div class="card hoverable">
        <div class="card-image">
          <img src="<%= producto.formato_imagen %><%= producto.imagen %>" class="activator img-responsive">
        </div>

        <div class="card-content  pad5-hv left-align">
          <div class="row no-margin-v">
            <span class="card-title card-catalogo activator grey-text text-darken-4">
              <div class="col s10">
                <%= producto.nombre %>
              </div>
            </span>
          </div>
        </div>
            
        <div class="card-action pad5-15">
          <div class="row no-margin-v">
            <div class="col s6 no-padding">
              <input id="input_star_<%= producto.id %>" class="rating left" data-symbol="&#xf005; " value="<% if !@promedio.nil? %> <%= @promedio %> <% end %>">
            </div>
            <div class="col s6 no-padding">
              <span class = "blue-text right"> $ <% if request.subdomain.present? %><%= producto.precio %><% else %> <%= producto.costo %><% end -%></span>
            </div>
          </div>
          <a href="/catalogo/<%= producto.id %>" class="waves-effect"> Ver </a>
        </div>

      </div>
    </div>

    <script type="text/javascript">
            $(document).ready(function(){
            var star_input = '#input_star_' + <%= producto.id %>;

              $(star_input).rating({
                    size:"xs",
                    glyphicon: false,
                    disabled:true,
                    hoverEnabled: false,
                    showCaption: true,
                    showClear:false,
                    ratingClass: "rating-fa", // the rating class will ensure font awesicon rendering
                    clearButtonTitle: "Limpiar",
                    clearButton:'<i class="mdi-content-remove"></i>',
                    clearCaption: "",
                    clearCaptionClass: "transparent",
                    starCaptions: function(val) { return Math.round(val * 100) / 100;},
                    starCaptionClasses: function(val) { return 'label transparent';},
               });

            });
    </script>
  <%end%>
  
  <!-- separador -->
  <img src="<%= asset_path 'separator.png' %>" style="padding-top:2%">

  <!-- Preguntas Frecuentes -->
  <div class="row " align="left">
  <aside>
      <h6 class="grey-text text-darken-1 text-center "> PLANES, FUNCIONAMIENTO Y SEGURIDAD</h6>
        <% if ! @pregunta_frecuentes.blank? %>
          <ul class=" collapsible popout" data-collapsible="accordion">
            
            <% @pregunta_frecuentes.each do |pregunta_frecuente| %>
              <% if ! pregunta_frecuente.nil?  %>
                <li>
                  <div class="collapsible-header pink-text active">
                    <i class="fa fa-question-circle  text-accent-4 collapsible-header-org"></i>
                    <b class=" text-darken-1"><%= pregunta_frecuente.pregunta %></b>
                  </div>

                  <div class="collapsible-body white">
                    <div class="pad30-hv">
                      <div class="row" style="margin-bottom: 0px;">
                        <div class="col s12 m12">
                          <%= pregunta_frecuente.respuesta %>
                        </div>
                      </div>                
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
           <h6 class="grey-text text-darken-1 text-center " align="center"> En estos momentos no hay preguntas frecuentes </h>
        <% end %>
  </aside>
</div>


</div> <!-- fin del contenedor -->

<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/star-rating.min" %>    
<% end -%>

<script type="text/javascript">
  var $dashboard = $("#dashboard-wrapper"),
  w = $dashboard.width()*0.55;
  $dashboard.css("height",w+"px");
  $(window).resize(function(){
  w = $dashboard.width()*0.55;
  $dashboard.css("height",w+"px");
  });
</script>