<div class="row titulo-seccion banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Organizaciones
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Organizaciones</li>
        </ol>
      </div>
    </div>
</div>
<div class="row pad30-h">
  <div class="col s12 m3">
    <% if request.subdomain.present? %>
      <div class="center-align">
          <img class="foto-user-org responsive-img"
              src="<%= @usuario.perfil.formato_foto%><%= @usuario.perfil.foto%>">

          <p class="no-padding ">
            <b>
              <%= @usuario.perfil.nombres %>
              <%= @usuario.perfil.apellidos %>
            </b>
           </p>
       </div>
       <div class="left-align pad15-h">
           <p class="no-padding">
              <b>
                <i class="fa fa-user deep-purple-text text-lighten-1"></i>
                  <%= @usuario.username%> 
                              
              </b>
            </p>
            <p class="no-padding">
               
                 <i class="fa fa-calendar deep-purple-text text-lighten-1"></i>
                 Nacio 
                 <b>
                  10 de Julio de 1991
                </b>
            </p>
      </div>

    <% else %>
      <ul class="collapsible popout" data-collapsible="expandable">

        <li>
          <div class="collapsible-header grey-text text-darken-1 grey lighten-4 active"> 
            Vencimiento de Planes
          </div>
          <div class="collapsible-body white ">
          
              
                <div class="input-field pad30-h" style="margin-top: 0px;">
                    <i class="fa fa-circle light-green-text text-accent-3 vencimiento-planes"></i> 
                    <input type="checkbox" id="vigente" >
                    <label for="vigente" class="vencimiento-planes-label">Vigente</label>
                </div>

                 <div class="pad30-h input-field " style=" margin-top: 0px;">
                    <i class="fa fa-circle yellow-text text-accent-2 vencimiento-planes" ></i>
                    <input type="checkbox" id="advertencia" >
                    <label for="advertencia"class="vencimiento-planes-label">Advertencia a Renovar </label>
                </div>

                <div class="input-field pad30-h" style=" margin-top: 0px;">
                    <i class="fa fa-circle amber-text text-darken-1 vencimiento-planes"></i>   
                    <input type="checkbox" id="pronto">
                    <label for="pronto" class="vencimiento-planes-label">Pronto a Vencerse (menos de 15 d&iacute;as)</label>
                </div>

                <div class="input-field pad30-h" style=" margin-top: 0px;">
                    <i class="fa fa-circle red-text vencimiento-planes"></i>  
                    <input type="checkbox" id="vencido">
                    <label for="vencido" class="vencimiento-planes-label">Vencido</label>
                </div>
            
          </div>
        </li>

        <li>
          <div class="collapsible-header grey lighten-4 active  grey-text text-darken-1"> 
            Tipos de Organizaciones
          </div>
          <div class="collapsible-body white">
          <% @tipo_organizacions.each do |tipo_organizacion| %>
            <% if ! tipo_organizacion.nil? %>
              
                <div class="input-field pad30-h" style=" margin-top: 0px;">
                      <input type="checkbox" id="<%= tipo_organizacion.nombre %>" >
                      <label for="<%= tipo_organizacion.nombre %>"><%= tipo_organizacion.nombre %></label>
                </div>

             <% end %>
          <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  
  </div>

  <div class="col s12 m9" align="justify">
    <% if !@organizacions.blank? %>
      <ul class="collapsible popout" data-collapsible="accordion">
        <% @organizacions.each do |organizacion| %>
          <% if ! organizacion.nil? %>

            <% redes = OrganizacionRedSocial.includes(:red_social).where("organizacion_id = ?", organizacion.id) %>
            <li>
              <div class="collapsible-header grey lighten-4 active ">
                <i class="fa fa-circle light-green-text text-accent-4 collapsible-header-org"></i>

                <img class="responsive-img" src = "<%= organizacion.formato_logo%><%= organizacion.logo%>"/> 
                <b class="grey-text text-darken-1">
                  <%= organizacion.nombre %>
                </b>

                <% if request.subdomain.present? %>
                  <a href="/organizacion/editar/<%= organizacion.subdominio %>" >
                    <i class="fa fa-edit grey-text text-darken-1" style="float:right; margin-right: 0rem;"></i>
                  </a>
                <% end -%>
                <a href="/organizacion/consultar/<%= organizacion.subdominio %>" >
                  <i class="mdi-action-visibility tiny grey-text text-darken-1" style="float:right; margin-right: 0rem;" ></i>
               </a>
              </div>
              <div class="collapsible-body white">
                <div class="pad30-hv">
                  <div class="row" style="margin-bottom: 0px;">
                    <div class="col s12 m6">
                    <% if ! request.subdomain.present? %>
                      <b class="grey-text text-darken-3">Usuario:</b>
                      <div class=" valign-wrapper">
                        <div>
                          <img class="responsive-img img-usuario-organizacion"src="<%= organizacion.usuario.perfil.formato_foto %><%= organizacion.usuario.perfil.foto %>">
                        </div>
                        <div class="col">
                          <p class="no-padding">
                            <%= organizacion.usuario.perfil.nombres %>
                            <%= organizacion.usuario.perfil.apellidos %>
                          </p>
                          <p class="no-padding">
                            <b>
                             <i class="fa fa-user grey-text text-darken-3"></i>
                            <%= organizacion.usuario.username %> 
                            </b>
                          </p>
                          <p class="no-padding">
                            <b>
                            <i class="fa fa-calendar grey-text text-darken-3"></i>
                            <%= organizacion.usuario.created_at.strftime("%d %b  %Y ") %> 
                            </b>
                          </p>
                        </div>
                      </div>
                      <% end %>
                      <p class="no-padding">
                          <b class="grey-text text-darken-3">Pa&iacute;s:</b><%= organizacion.pais.nombre %>
                      </p>
                  
                      <p class="no-padding">
                          <b class="grey-text text-darken-3">Subdominio:</b>
                          <a class="label-p" href="http://<%= organizacion.subdominio %>.lvh.me:3000/" target="_blank"><%= organizacion.subdominio %>.crumbik.com</a>
                      </p>
                      
                      <p class="no-padding">
                          <b class="grey-text text-darken-3">Descripci&oacute;n:</b>
                          <%= organizacion.descripcion %>
                      </p>

                      <p class="no-padding">
                        <b class="grey-text text-darken-3">Direcci&oacute;n:</b>
                        <%= organizacion.direccion %>
                      </p>

                      <p class="no-padding">
                        <b class="grey-text text-darken-3">Tel&eacute;fono:</b>
                        <%= organizacion.telefono %>
                      </p>

                      <% if !organizacion.contratos.empty? %>
                        <p class="no-padding">
                          <b class="grey-text text-darken-3">Fecha Venc. Plan:</b>
                          <%= organizacion.contratos[0].fecha_vencimiento.strftime("%d %b %Y") %>
                        </p>
                      
                        <p class="no-padding">
                          <b class="grey-text text-darken-3">Plan:</b>
                          <%= organizacion.contratos[0].plan.nombre %>
                        </p>
                      <% end %>
                    </div>

                    <div class="col s12 m6">

                      <p class="no-padding">
                        <b class="grey-text text-darken-3">Tipo de Organizaci&oacute;n:</b>
                        <%= organizacion.tipo_organizacion.nombre %>
                      </p>

                      <p class="no-padding">
                        <b class="grey-text text-darken-3">Misi&oacute;n:</b>
                        <%= organizacion.mision %>
                      </p>

                      <p class="no-padding">
                        <b class="grey-text text-darken-3">Visi&oacute;n:</b>
                        <%= organizacion.mision %>
                      </p>

                      <p class="no-padding">
                        <b class="grey-text text-darken-3">Slogan:</b>
                        <%= organizacion.slogan %>
                      </p>

                      <p class="no-padding">
                        <b class="grey-text text-darken-3">Email:</b>
                        <%= organizacion.email %>
                      </p>

                    </div>
                  </div>

                  <div class="row" style="margin-bottom: 0px;">
                    <% if ! redes.blank? %>
                      <div class="col s12">
                      <b class="grey-text text-darken-3">Redes Sociales:</b>
                       </div>
                      <% end %>

                      <% redes.each do |red| %>

                        <% if ! red.nil? %>
                        <div class="col s12 m6">
                          
                          <a class="label-p" href="<%= red.url %>" target="_blank"> <i class=" red-social <%= red.red_social.icono %>  " style="background: <%= red.red_social.color %>;"></i>
                            <%= red.url.truncate(35) %></a>
                        
                        </div>
                        <% end %>
                      <% end %>

                  </div>

                </div>
              </div>
            </li>
                
              
            

          <% end %>
        <% end %>
      </ul>
          
     <% end %>
  </div>

</div>