<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6 valign-wrapper pad55-t">
        <div class="white-text valign-wrapper" >
          <img src = "<%= @organizacion.formato_logo%><%= @organizacion.logo%>" class=" z-depth-2 org-logo-consulta " />
          <h5 class="text-capitalize" style="margin-top: 0px; margin-bottom: 0px;">
            <%= @organizacion.nombre %>
          </h5>
        </div>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Organizaci&oacute;n</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h">
  <div class="col s12">

    <div class="row">

      <div class="col s4" align="justify">
         <b class="grey-text text-darken-3">Usuario:</b>
          <div class=" valign-wrapper">
            <div>
              <img class="img-usuario-org-consulta responsive-img"src="<%= @usuario_organizacion.perfil.formato_foto %><%= @usuario_organizacion.perfil.foto %>">
            </div>
            <div class="col">
              <p class="no-padding ">
                <b><%= @usuario_organizacion.perfil.nombres %>
                 <%= @usuario_organizacion.perfil.apellidos %>
                </b>
              </p>
              <p class="no-padding no-margin-v">
                    <i class="fa fa-user grey-text text-darken-3"></i>
                    <%= @usuario_organizacion.username%> 
              </p>
              <p class="no-padding no-margin-v">
                    <i class="fa fa-calendar grey-text text-darken-3"></i>
                    <%= @usuario_organizacion.created_at%> 
              </p>
            </div>
          </div>
      </div>
      
      <div class="col s4" align="justify">
          <p class="no-padding">
            <b class="grey-text text-darken-3">Pa&iacute;s:</b><%= @organizacion.pais.nombre %>
          </p>
                
          <p class="no-padding">
            <b class="grey-text text-darken-3">Subdominio:</b>
            <a class="label-p" href="http://<%= @organizacion.subdominio %>.lvh.me:3000/" target="_blank"><%= @organizacion.subdominio %>.crumbik.com</a>
          </p>
                    
          <p class="no-padding">
            <b class="grey-text text-darken-3">Descripci&oacute;n:</b>
              <%= @organizacion.descripcion %>
          </p>

          <p class="no-padding">
            <b class="grey-text text-darken-3">Direcci&oacute;n:</b>
              <%= @organizacion.direccion %>
          </p>

          <p class="no-padding">
            <b class="grey-text text-darken-3">Tel&eacute;fono:</b>
              <%= @organizacion.telefono %>
          </p>
      </div>
      
       <div class="col s4" align="justify">
          <p class="no-padding">
            <b class="grey-text text-darken-3">Fecha Venc. Plan:</b>
            <%= @organizacion.contratos[0].fecha_vencimiento.strftime("%d/%m/%Y ") %>
          </p>

          <p class="no-padding">
            <b class="grey-text text-darken-3">Plan:</b>
          </p>

          <p class="no-padding">
            <b class="grey-text text-darken-3">Tipo de Organizaci&oacute;n:</b>
            <%= @organizacion.tipo_organizacion.nombre %>
          </p>

          <p class="no-padding">
            <b class="grey-text text-darken-3">Email:</b>
            <%= @organizacion.email %>
          </p>
      </div>

    </div>

    <div class="row">
      <div class="col s12" align="justify">
          <b class="grey-text text-darken-3">Slogan:</b>
          <p class="no-padding">
            <%= @organizacion.slogan %>
          </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12" align="justify">
          <b class="grey-text text-darken-3">Misi&oacute;n:</b>
          <p class="no-padding">
            <%= @organizacion.mision %>
          </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12" align="justify">
          <b class="grey-text text-darken-3">Visi&oacute;n:</b>
          <p class="no-padding">
            <%= @organizacion.vision %>
          </p>
      </div>
    </div>

    <div class="row">

      <div class="col s12" >
        <% if ! @redes.blank? %>
          <b class="grey-text text-darken-3">Redes Sociales:</b>
        <% end %>
      </div>

      <% @redes.each do |red| %>

        <% if ! red.nil? %>
          <div class="col s6">
                        
            <a class="label-p" href="<%= red.url %>" target="_blank"> <i class=" red-social <%= red.red_social.icono %>  " style="background: <%= red.red_social.color %>;"></i>
            <%= red.url.truncate(40) %></a>
                      
          </div>
        <% end %>
      <% end %>

    </div>

    <% if ! @organizacion.iframe.nil? and @organizacion.iframe != "" %>
      <div class="row">

        <div class="col s5">
           <b class="grey-text text-darken-3">Ubicaci&oacute;n:</b>
           </br>
           </br>
          <div class = "mapa white no-margin z-depth-2 no-margin-v" style="width:100%">
            <iframe src = "<%= @organizacion.iframe %>" width="100%" height="400px" frameborder="0" allowfullscreen> </iframe>        
          </div>
        </div>
       
        <div class="col s7">
          <b class="grey-text text-darken-3">Banner:</b>
          </br>
          </br>
          <img  class="org-banner-consulta responsive-img  z-depth-2 materialboxed"  src="<%= @organizacion.formato_banner %><%= @organizacion.banner %>" />
        </div>

      </div>
      
    </div>  
  <% end -%>

</div>