<% content_for :css_personalizado do %>
    <style type="text/css">
      .dropdown-content {
        max-height: 250px;  
      }
    </style>
<% end %>
<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Crear Campañas Publicitarias
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Campañas Publicitarias</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div  id="form_wizard_1" class="row pad30-h"  style="width: 100%">

  <%= form_for @actividad_publicitaria, :url => actividad_publicitaria_crear_actividad_publicitaria_path, html:{id: "add_actividad_publicitaria", class: "form-horizontal"}, multipart: true do |f| %>
    <div class="form-wizard">
      <div class="form-body steps">

        <div class="tab-content">
          <div class="feedback alert alert-danger display-none">
            <button class="close" data-dismiss="alert"></button>
            Algunos campos tienen errores. Por favor revisa abajo.
          </div>
          <div class="feedback alert-success display-none">
            <button class="close" data-dismiss="alert"></button>
            La validación fue exitosa.
          </div>
          <div class="panel  hoverable pad30-h">

          <div class="col s12 pad15">
              <div class="col s12  left pad45 ">
                
                <h5>Datos de la Actividad Publicitaria</h5>
                

                <div class="input-field col s12">
                  <label for="actividad_publicitaria_titulo">Título: <span class="required">
                  * </span>
                  </label>
                  <%= f.text_field :titulo, :required=>true, autocomplete: "off", length: "50" %>

                </div>

                <div class="input-field col s12">
                  <label for="actividad_publicitaria_descripcion">Descripción General: <span class="required">
                  * </span>
                  </label>
                  <%= f.text_area :descripcion, :required=>true, autocomplete: "off", class: "materialize-textarea", length: "300" %>

                </div>

                <div class="col s12">
                  <label>Producto <span class="required">*</span></label>
                  <%= f.collection_select(:producto_id, Producto.all, :id, :nombre) %>  
                </div>

                <div class="col s6">
                  <label>Fecha de Inicio <span class="required">*</span></label>
                  <input type="date" class="datepicker" id="actividad_publicitaria_inicio" name="actividad_publicitarium[inicio]">
                  <span id="actividad_publicitaria_inicio-error_local" class="hiden msj-rojo"></span>
                </div>

                <div class="col s6">
                  <label>Fecha de Finalización <span class="required">*</span></label>
                  <input type="date" class="datepicker" id="actividad_publicitaria_fin" name="actividad_publicitarium[fin]">
                  <span id="actividad_publicitaria_fin-error_local" class="hiden msj-rojo"></span>
                </div>
              
              </div>

              <hr/>
              <h5>Actividades Publicitarias</h5>
              
              <div class="row">
                <div class="col s10">
                  <ul id="lista-redes-sociales" class="vacia  list-inline">
                    <li>Selecciona la actividad publicitaria de su preferencia.</li> 
                  </ul>
                </div>
                <div class="col s2 text-center">
                  <div class="dropdown center">
                    <a href="javascript:void(0)" class="btn-floating waves-effect waves-light red"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi-content-add"></i>
                    </a>
                    <ul  class='dropdown-menu list-inline' role="menu">
                      <li> <span style="padding-bottom: 5px;"><a href="#!"  id="<%= ActividadPublicitariaDetalle.type_actividads["sms"] %> " class="red-social-add light-blue tooltipped" data-tooltip="SMS"  onclick="showSocial('SMS')"><i class="fa fa-comments"></i></a></span> </li>
                     
                      <li> <span style="padding-bottom: 5px;"><a href="#!"  id="<%= ActividadPublicitariaDetalle.type_actividads["llamada"] %> " class="red-social-add  light-blue tooltipped" data-tooltip="Llamadas" onclick="showSocial('Llamada')"><i class="mdi-notification-phone-in-talk "></i></a></span> </li>

                     <li> <span style="padding-bottom: 5px;"><a href="#!"  id="<%= ActividadPublicitariaDetalle.type_actividads["email"] %>" class="red-social-add light-blue tooltipped" data-tooltip="Email" onclick="showSocial('Email')"><i class="  mdi-communication-email "></i></a></span> </li>
                   </ul>
                  </div>
                </div>
              </div>

              <div id="div_sms" class="row">

                <h5>Información para Promoción por SMS</h5>
                 <a style="float:right;" class="waves-effect btn-flat " onclick="hideSocial('SMS')"><i class="mdi-content-clear"></i></a>
                 <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Contenido del SMS" id="contenido_sms" name="contenido_sms" type="text" class="validate" length="80">
                      <label for="contenido_sms">Contenido</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="Url para el SMS" id="url_sms" name= "url_sms"type="text" class="validate" length="60">
                      <label for="url_sms">Url</label>
                    </div>
                  </div>
              </div>

              <div id="div_llamadas"  class="row no-margin-v">
                <a style="float:right;" class="waves-effect btn-flat" onclick="hideSocial('Llamada')"><i class="mdi-content-clear"></i></a>
                <h5>Información para Promoción por Llamadas</h5>
                <div class="row">
                  <div class=" col s12">
                    <div class="input-field">
                      <i class="fa-outdent fa prefix"></i>
                      <textarea id="asunto_llamada" placeholder="Escriba Asunto de Llamada" name="asunto_llamada" class="materialize-textarea" length="255"></textarea>
                      <label for="asunto_llamada">Asunto de Llamadas</label>
                    </div>
                
                  </div>
              </div>
            </div>


            <div id="div_email"  class="row no-margin-v">
             <a style="float:right;" class="waves-effect btn-flat " onclick="hideSocial('Email')"><i class="mdi-content-clear"></i></a>
              <h5>Información para Promoción por Email</h5>
              <div class="row">
                <div class=" col s12 m8">
                  <div class="input-field col s12">
                    <input placeholder="Asunto del Email" id="asunto_email" name="asunto_email" type="text" class="validate" length="20">
                    <label for="asunto_email">Asunto</label>
                  </div>
                  <div class="input-field col s12">
                    <textarea placeholder="Escriba Contenido del Email" id="contenido_email" name="contenido_email"  class="materialize-textarea" length="255"></textarea>
                    <label for="contenido_email">Contenido</label>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="col s12">
                      <h5>Imagen Adjunta</h5>
                      
                      <div id="imagen" class="<%= @formato_imagen %><%= @imagen %>" > </div>
                      
                      <input id="imagen_email" name="imagen_email" type="file" class="file"  />
                      
                      <div class="pad15"></div>
                  </div>
                </div>
              </div>
            </div>


          </div>

           

            <div class="form-actions">
              <div class="row pad15">
                <div class="offset-s4 col s8">
                  
                  <input type="submit" class="btn btn-success " value="Guardar">
                  <button type="button" onclick="window.location.href='/productos/actividad_publicitaria/consultar'" class="btn btn-danger waves-effect">Cancelar</button>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  <% end %>
</div>


<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/pwstrength-bootstrap-1.2.4.min" %>
  <%= javascript_include_tag 'plugins/fileinput.js' %>
  
  <script>
 $("#div_sms").hide();
  $("#div_llamadas").hide();
    $("#div_email").hide();


    $("#imagen_email").fileinput({
      'browseLabel':'cambiar',
      'showCaption':false,
      'initialPreview': [ "<img src='" + $("#imagen").attr("class") +"' class='file-preview-image ' alt='Avatar' title='Imagen de actividad_publicitaria'>"],
      'initialPreviewShowDelete':false,
      'initialCaption':'archivo(s) seleccionado(s)',
      'allowedFileTypes':['image'],
      'allowedFileExtensions':['jpg', 'png', 'jpeg'],
      'browseClass':'btn btn-primary right',
      'browseIcon':'<i class="mdi-file-attachment"></i>',
      'showRemove':false,
      'showUpload':false,
      'uploadLabel':'Subir',
      'uploadIcon':'<i class="mdi-file-file-upload"></i>',
      'uploadClass':'btn btn-success ',
      'showClose':false
    });

    $("#imagen_llamadas").fileinput({
      'browseLabel':'cambiar',
      'showCaption':false,
      'initialPreview': [ "<img src='" + $("#imagen").attr("class") +"' class='file-preview-image ' alt='Avatar' title='Imagen de actividad_publicitaria'>"],
      'initialPreviewShowDelete':false,
      'initialCaption':'archivo(s) seleccionado(s)',
      'allowedFileTypes':['image'],
      'allowedFileExtensions':['jpg', 'png', 'jpeg'],
      'browseClass':'btn btn-primary right',
      'browseIcon':'<i class="mdi-file-attachment"></i>',
      'showRemove':false,
      'showUpload':false,
      'uploadLabel':'Subir',
      'uploadIcon':'<i class="mdi-file-file-upload"></i>',
      'uploadClass':'btn btn-success ',
      'showClose':false
    });


  function readImage() {
      if ( this.files && this.files[0] ) {
          var FR = new FileReader();
          FR.onload = function(e) {
            var formato = e.target.result.split(";base64,")[0] + ";base64,";
            var base64 = e.target.result.split( formato)[1];
            $("#actividad_publicitaria_imagen").val(base64);
            $("#actividad_publicitaria_formato_imagen").val(formato);
          };       
          FR.readAsDataURL( this.files[0] );
      }
  }

    function showSocial(nombre) {
      
      if ( nombre == "SMS" ) {        
         $("#div_sms").fadeIn(600);
      }

      if ( nombre == "Llamada" ) {
         $("#div_llamadas").fadeIn(600);
      }

      if (nombre == "Email") {
        $("#div_email").fadeIn(600);
      }
    }

    function hideSocial(nombre) {
      
      if ( nombre == "SMS" ) {        
         $("#div_sms").fadeOut(600);
      }

      if ( nombre == "Llamada" ) {
         $("#div_llamadas").fadeOut(600);
      }

      if (nombre == "Email") {
        $("#div_email").fadeOut(600);
      }
    }

  $("#imagen_llamadas").change( readImage );

  $("#imagen_email").change( readImage );


  $('#actividad_publicitaria_inicio').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: true, // Creates a dropdown of 15 years to control year
        labelMonthNext: 'Próximo Mes',
        labelMonthPrev: 'Mes Anterior',
        labelMonthSelect: 'Selecione Mes',
        labelYearSelect: 'Selecione Año',
        monthsFull: [ 'Enero', 'Febrero', 'MArzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
        monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
        weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab' ],
        weekdaysLetter: [ 'D', 'L', 'M', 'X', 'J', 'V', 'S' ],
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Cerrar',
        format: 'dd/mm/yyyy',
        closeOnSelect: true,
        closeOnClear: false,
        onSet: function () {
          this.close();
          },

        onClose:function(){

                  var inicio = $("#actividad_publicitaria_inicio").val();
                  var  fin = $("#actividad_publicitaria_fin").val();
                  if (inicio != "" && inicio != null && fin != "" 
                      && fin != null) {
                      
                      if (inicio > fin) {
                          $("#actividad_publicitaria_inicio-error").addClass("valid").html("");;
                          $("#actividad_publicitaria_inicio-error_local").removeClass("hiden").html("Ingrese una fecha menor que la fecha de finalización");
                          $("#actividad_publicitaria_fin-error_local").addClass("hiden").html("");
                      } else {
                          $("#actividad_publicitaria_inicio-error").addClass("valid").html("");
                          $("#actividad_publicitaria_inicio-error_local").addClass("hiden").html("");
                          $("#actividad_publicitaria_fin-error_local").addClass("hiden").html("");
                      };
                  }

                }           
      });


  $('#actividad_publicitaria_fin').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: true, // Creates a dropdown of 15 years to control year
        labelMonthNext: 'Próximo Mes',
        labelMonthPrev: 'Mes Anterior',
        labelMonthSelect: 'Selecione Mes',
        labelYearSelect: 'Selecione Año',
        monthsFull: [ 'Enero', 'Febrero', 'MArzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
        monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
        weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab' ],
        weekdaysLetter: [ 'D', 'L', 'M', 'X', 'J', 'V', 'S' ],
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Cerrar',
        format: 'dd/mm/yyyy',
        closeOnSelect: true,
        closeOnClear: false,
        onSet: function () {
          this.close();
          },

          onClose:function(){
                    var inicio = $("#actividad_publicitaria_inicio").val();
                    var  fin = $("#actividad_publicitaria_fin").val();
                    if (inicio != "" && inicio != null && fin != "" 
                        && fin != null) {
                      if (inicio > fin) {
                          $("#actividad_publicitaria_fin-error").addClass("valid").html("");;
                          $("#actividad_publicitaria_fin-error_local").removeClass("hiden").html("Ingrese una fecha mayor que la fecha de inicio");
                          $("#actividad_publicitaria_inicio-error_local").addClass("hiden").html("");
                          
                      }else{
                          $("#actividad_publicitaria_fin-error").addClass("valid").html("");
                          $("#actividad_publicitaria_inicio-error_local").addClass("hiden").html("");
                          $("#actividad_publicitaria_fin-error_local").addClass("hiden").html("");
                      };
                    }


                  }           
      });
  
      $('#add_actividad_publicitaria').submit(function(event){
         
          var inicio = $("#actividad_publicitaria_inicio").val();
          var  fin = $("#actividad_publicitaria_fin").val();
         
          if ( inicio != "" && inicio != null && fin != "" && fin != null   && inicio > fin) {
            $("#actividad_publicitaria_fin-error_local").removeClass("hiden").html("Ingrese una fecha mayor que la fecha de inicio");
            $("#actividad_publicitaria_inicio-error_local").addClass("hiden").html("");
            $('.alert-danger').show();
            $('.alert-success').hide();
            $('html,body').animate({
                scrollTop: $(".steps").offset().top-350
            }, 'slow');
            event.preventDefault();
          } else {
            $("#actividad_publicitaria_inicio-error_local").addClass("hiden").html("");
            $("#actividad_publicitaria_fin-error_local").addClass("hiden").html("");
          };

      });

  </script>
<% end %>