<% content_for :css_personalizado do %>
  <style type="text/css">
    .tabs .indicator {
      background-color: #616161;
    }

    .card .card-content .card-title {
        line-height: 25px;
    }

    .card .card-title {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
    }
    .card .card-reveal {
      padding: 12px;
    }
  </style>
<% end %>

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Productos/Servicios
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Productos/Servicios</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h">

  <div class="fixed-action-btn " style="top: 250px; bottom: 0px">
    <a href="/productos/agregar" class="btn-floating btn-sm waves-effect waves-light red left absolute tooltipped" style="margin-bottom: 60px;" data-position="left" data-delay="50" data-tooltip="Agregar Producto/Servicio">
      <i class=" mdi-av-playlist-add"></i>
    </a>
  </div>

  <div class = "col s3 ">

    <ul class="collapsible filtro" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active  grey lighten-4"><i class="fa fa-usd fa-2x deep-purple-text text-darken-1"></i><span class="deep-purple-text text-darken-1">Precio</span></div>
        <div class="collapsible-body white">
          <div style = " display: table;
          width : 100%;">
            <div class="input-field col s6">
              <input id="Desde" type="text" class="validate">
              <label for="Desde" class = "morado">Desde</label>

            </div>
            <div class="input-field col s6">
              <input id="Hasta" type="text" class="validate">
              <label for="Hasta" class = "morado">Hasta</label>
            </div>

          </div>
          <a class="waves-effect waves-light btn z-depth-1 espacio pink accent-3" style = " margin-left: 27px;">Buscar     </a>
        </div>
      </li>
      <li class="white">
          <div class="collapsible-header active  grey lighten-4">
            <i class="small mdi-social-cake deep-purple-text text-darken-1"></i>Categorías
          </div>
          <div class="collapsible-body white" style="display: inline-block; border-bottom: 0px solid #ddd;">
          <% if !@categorias.blank? %>
            <% for item in @categorias %>
              <div class="input-field col s12 left">
                <input type="checkbox" id="<%= item.nombre %>" />
                <label for="<%= item.nombre %>"><%= item.nombre %></label>
              </div>
            <% end %>
           
          <% end %>
            
          </div>

      </li>

    </ul> 
  </div>

  <div class="col s9 ">
    <div class="row">
      <div class="input-field col m6 s12">
        <input id="BuscarNombre" type="text" class="validate">
        <label for="BuscarNombre" >Buscar</label>
      </div>
    </div> 
    
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#todos" class="grey-text text-darken-2 active">Todos</a></li>
          <li class="tab col s3"><a class="grey-text text-darken-2 " href="#habilitados">Habilitados</a></li>
          <li class="tab col s3 "><a class="grey-text text-darken-2" href="#deshabilitados">Deshabilitados</a></li>
        </ul>
      </div>
    </div>

    <div class="row center-align valign-wrappe">
      
      <% if !@productos.blank? %>

        <div id="todos">
          <% for producto in @productos %>

            <div class = "col s3 " style="width: 33%;">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="<%= producto.formato_imagen %><%= producto.imagen %>" class="activator img-responsive">
                </div>
                <div class="card-content  pad5-hv left-align">
                <div class="row no-margin-v">
                 <span class="card-title activator grey-text text-darken-4">
                    <div class="col s10">
                      <%= producto.nombre %>
                    </div>
                    <div class="col s2"> 
                      <i class="material-icons right  mdi-navigation-more-vert waves-effect"></i>
                    </div>
                  </span>
                  </div>
                </div>
                <div class="card-action pad5-15">
                  <p class = "blue-text right"> $<%= producto.precio %></p>
                  <a href="/productos/editar/<%= producto.id %>" class="left"> Editar</a>
                  <a href="#modaleliminar<%= producto.id %>" class="modal-trigger waves-effect left"> Eliminar</a>
                  <% if producto.estatus == 'A' %>
                     <a href="#modal<%= producto.id %>" class=" modal-trigger waves-effect left"> Deshabilitar</a>
                  <% else %>
                    <a href="#modal<%= producto.id %>" class=" modal-trigger waves-effect left"> Habilitar</a>
                  <%  end %>
                 
                </div>

                <div class="card-reveal left-align">

                  <div class="row" style="    margin-bottom: 12px;">
                    <span class="card-title grey-text text-darken-4">
                      <div class="col s10">
                        <%= producto.nombre %>
                      </div>
                      <div class="col s2"> 
                        <i class="material-icons right mdi-navigation-close waves-effect"></i>
                      </div>
                    </span>
                  </div>
                  <div class="col s12">
                    <p><%= producto.descripcion %></p>
                    <span class="blue-text right">
                      $<%= producto.precio %>
                    </span>
                  </div>
                </div>
                
              </div>
          
            </div>
            
          <% end %>
        </div>

        <div id="habilitados">
          <% for producto in @productos %>
            <% if producto.estatus == 'A' %>
              <div class = "col s3 " style="width: 33%;">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="<%= producto.formato_imagen %><%= producto.imagen %>">
                  </div>
                  <div class="card-content  pad5-hv left-align">
                    <h6><%= producto.nombre %></h6>
                  </div>
                  <div class="card-action pad5-15">
                    <p class = "blue-text right"> $<%= producto.precio %></p>
                    <a href="/productos/editar/<%= producto.id %>" class="left"> Editar</a>
                    <a href="#modaleliminar<%= producto.id %>" class="modal-trigger waves-effect left"> Eliminar</a>
                    <% if producto.estatus == 'A' %>
                       <a href="#modal<%= producto.id %>" class=" modal-trigger waves-effect left"> Deshabilitar</a>
                    <% else %>
                      <a href="#modal<%= producto.id %>" class=" modal-trigger waves-effect left"> Habilitar</a>
                    <%  end %>
                   
                  </div>
                  
                </div>
            
              </div>
             <% end %>
            
          <% end %>
        </div>

        <div id="deshabilitados">
          <% for producto in @productos %>
            <% if producto.estatus == 'I' %>
              <div class = "col s3 " style="width: 33%;">
                <div class="card hoverable">
                  <div class="card-image">
                    <img src="<%= producto.formato_imagen %><%= producto.imagen %>">
                  </div>
                  <div class="card-content  pad5-hv left-align">
                    <h6><%= producto.nombre %></h6>
                  </div>
                  <div class="card-action pad5-15">
                    <p class = "blue-text right"> $<%= producto.precio %></p>
                    <a href="/productos/editar/<%= producto.id %>" class="left"> Editar</a>
                    <a href="#modaleliminar<%= producto.id %>" class="modal-trigger waves-effect left"> Eliminar</a>
                    <% if producto.estatus == 'A' %>
                       <a href="#modal<%= producto.id %>" class=" modal-trigger waves-effect left"> Deshabilitar</a>
                    <% else %>
                      <a href="#modal<%= producto.id %>" class=" modal-trigger waves-effect left"> Habilitar</a>
                    <%  end %>
                   
                  </div>
                  
                </div>
            
              </div>
             <% end %>
            
          <% end %>
        </div>
      
      <% end %>

    </div>

    <div class="row valign-wrapper">
      <%= paginate(@productos) %>
    </div>
  
  </div>


  <div>
     <% @productos.each do |producto| %>
      <div id="modal<%= producto.id %>" class="modal">
        <div class="modal-content">
          <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
          <% if (producto.estatus == 'A') %>
          <h5>Deshabilitar Producto/Servicio</h5>
          <% else %>
          <h5>Habilitar Producto/Servicio</h5>
          <% end %>


          <div class="row" style="padding-top: 35px;">
            <div class="col s12 text-center">
            <% if (producto.estatus == 'A') %>
              <h6 style=" font-size: 20px;"> ¿Seguro que desea Deshabilitar el producto/servicio seleccionado? </h6>
              <% else %>
              <h6 style=" font-size: 20px;"> ¿Seguro que desea Habilitar el producto/servicio seleccionado? </h6>
              <% end %>
              <div style="padding-top: 35px;" class="right">
                <% if (producto.estatus == 'A') %>
                  <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= producto.id %>,'I')">
                <% else %>
                  <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= producto.id %>,'A')">
                <% end %>
                 <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
              </div>

            </div>
          </div>                
        </div>
      </div> 

      <div id="modaleliminar<%= producto.id %>" class="modal">
        <div class="modal-content">
          <a style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>

          <h5>Eliminar Producto/Servicio</h5>

          <div class="row pad30-t" >
            <div class="col s12 text-center">

              <h6 style=" font-size: 20px;"> ¿Seguro que desea eliminar el producto/servicio seleccionado? </h6>

              <div style="padding-top: 35px;" class="right">

                <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="eliminar(<%= producto.id %>)">

                <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
              </div>

            </div>
          </div>                
        </div>
      </div> 

    <% end %>
  </div>


</div>


<% content_for :javascript_personalizado do %>
  <script type="text/javascript">


  function update_estatus(idproducto, estatus){
    var request = $.ajax({
                            url: '/productos/update_estatus',
                            method: "POST",
                            data: { idproducto: idproducto, estatus: estatus},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                        location.reload(); 
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
    };

  function eliminar(idproducto){
    var request = $.ajax({
                            url: '/productos/eliminar',
                            method: "POST",
                            data: { idproducto: idproducto},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                        location.reload(); 
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
  }

  </script>
<% end %>