<% content_for :css_personalizado do %>
   <%= stylesheet_link_tag    "plugins/star-rating.min" %> 
   <%= stylesheet_link_tag    "plugins/jquery-ui" %> 
   <%= stylesheet_link_tag    "star-product" %> 
   <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Crumbik" />
	<meta property="og:description"   content="Your description" />
	<style type="text/css">
		.panel {
    		margin-bottom: 10px;
		}
		iframe{
			    vertical-align: middle !important;
		}
	</style>
<% end %>

<div  class="pad15"></div>

<div class="row pad60-h white">
	<div  class="pad15"></div>
	<div class="col s12">
    	<div class="row " style="padding: 0px 10px;"> 
    		<div class="col s4 align-center " align="center">
    			<img src="<%= @producto.formato_imagen %><%= @producto.imagen %>" class="img-responsive" style="  max-height: 250px; vertical-align: middle;">
    		</div>
    		<div class="col s8">
				<div class="row">
	    			<span class="font-span-title" ><%= @producto.nombre %> </span>
	    			<input id="input-id"class="rating" data-symbol="&#xf005; " data-glyphicon="false" 
	    				value="<% if !@puntuacion.nil? %> <%= @puntuacion.contenido %> <% end %>" 
						data-rating-class="rating-fa" <% if !usuario_signed_in? %> disabled <%  end %> >
				</div>
    			<p class="row"> <%= @producto.descripcion %> </p>
    			<h6> Precio: <b>$<%= @producto.precio %></b> </h6>
    			<a id="btn-megusta"  href="#!" class="grey btn-sm white-text"><i id="icon-like" class=" <% if @like.nil? %>fa fa-thumbs-o-up <% else %> fa fa-thumbs-up  <% end %>"></i>  Me Gusta</a>
				<div class="fb-share-button"  data-id="share-facebook" data-href="https://lvh.me:3000" data-layout="button" onclick="alert('hola')"></div>
				<a href="https://twitter.com/share"  data-id="share-twitter" class="twitter-share-button" data-url="http://lvh.me:3000" onclick="alert('hola')">Tweet</a>	
    		</div>
		</div>
		<div  class="pad15"></div>
	</div>
</div>
<div class="row ">
	<div class="col s12 m6">


		<div class="row" style="padding: 0px 10px;">
			<span><strong>Comentarios</strong></span>
			<br>

			<% if !@comentarios.blank? %>
			  
			  <% for comentario in @comentarios %>
			    <div class="panel z-depth-1 valign-wrapper" >
					<div class="col s2 " style="margin:15px; " align="center">
						<img src="<%= comentario.usuario.perfil.formato_foto %><%= comentario.usuario.perfil.foto %>" 
							class="img-responsive circle z-depth-1" style=" max-width: 100px; max-height: 100px;">
					</div>
					
					<div class="col s10">
						<div class="row">
							<% if comentario.usuario.perfil.nombres.nil? %>
								<b> <%= comentario.usuario.username %> </b>    
							<% else %>
								<b> <%= comentario.usuario.perfil.nombres %>  <%= comentario.usuario.perfil.apellidos %> </b>  
							<% end %>
							<span>  <%= comentario.created_at.strftime("%d %b  %Y ") %></span>
						</div>
						<p><%= comentario.contenido %></p>
					</div> 
				</div>
			  <% end %>
			  
			<% end %>

		</div>
		<% if !@comentario.nil? %>
			<%= form_for @comentario, :url => comentarios_crear_comentario_path, html:{id: "add_comentario", class: "form-horizontal", :method => :post } do |f| %>
				<div class="row "style="padding: 0px 10px;">
					<div class="row">
						<input id="comentario_producto_id" name="comentario[producto_id]" value="<%= @producto.id %>" hidden>
						<div class="col s12 white">

							<textarea id="comentario_contenido" name="comentario[contenido]" placeholder=" <% if !usuario_signed_in? %> Inicia Sesión para ingresar tu comentario <% else %> Tu Comentario* <%  end %> " id="first_name" type="text" length="255" class="materialize-textarea"  <% if !usuario_signed_in? %> disabled <%  end %> ></textarea>
						</div>
					</div>

					<div class="row right-align ">
						<button type="submit" class="waves-effect btn-flat blue-text <% if !usuario_signed_in? %> disabled <%  end %>" <% if !usuario_signed_in? %> disabled <%  end %>><strong>Enviar Comentario</strong></button>
					</div>
						 
				</div>

			<% end %>
		<% end %>
	</div>
	<div class="col s12 m6">
		<div  style="padding: 0px 10px;">
			<span><strong>Puntuación Promedio</strong></span>
		</div>

		<div class="row valign-wrapper " style="padding: 0px 10px;">
			<div class="col s6 no-padding">
				<input id="puntuacion"class="rating" data-symbol="&#xf005; " data-glyphicon="false" value="<% if !@promedio.nil? %> <%= @promedio %> <% end %>" data-rating-class="rating-fa" data-disables=true>
			</div>
		</div>
		<span><strong> Top Productos </strong></span>
			<div id="accordion">

				<h3><i class=" fa fa-thumbs-up "></i> Top Populares</h3>
				<div>
					<% @top_popular.each do |producto| %>
						<div class="row">
							<div class="col s2 " style="margin:15px; " align="center">
								<img src="<%= producto.formato_imagen %><%= producto.imagen %>" 
									class="img-responsive circle z-depth-1" style=" max-width: 80px; max-height: 80px;">
							</div>
							<div class="col s8">
								<div class="row">
									<b> <%= producto.nombre %> </b>  
								</div>
								<p><%= producto.descripcion.truncate(80) %> </p>
								<div class="row right"><a href="/catalogo/<%= producto.id %>" class="waves-effect"> Ver </a></div>
							</div> 
						</div>
			      		
		      	 	<% end -%>
				</div>

				<h3> <i class="fa fa-star"></i> Top Favoritos</h3>
				<div>
					<% @top_puntuacion.each do |producto| %>
			      		<div class="row">
							<div class="col s2 " style="margin:15px; " align="center">
								<img src="<%= producto.formato_imagen %><%= producto.imagen %>" 
									class="img-responsive circle z-depth-1" style=" max-width: 80px; max-height: 80px;">
							</div>
							<div class="col s8">
								<div class="row">
									<b> <%= producto.nombre %> </b>  
								</div>
								<p><%= producto.descripcion.truncate(80) %> </p>
								<div class="row right"><a href="/catalogo/<%= producto.id %>" class="waves-effect"> Ver </a></div>
							</div> 
						</div>
		      	 	<% end -%>
				</div>
			</div>

	</div>
</div>

	
<div  class="pad15"></div>


<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/star-rating.min" %>
    <%= javascript_include_tag 'plugins/jquery-ui' %>


  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<div id="fb-root"></div>
<script>
window.FB = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=942983902452873";
  fjs.parentNode.insertBefore(js, fjs);

}(document, 'script', 'facebook-jssdk'));

        window.twttr = (function (d, s, id) {
            var t, js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            return window.twttr || (t = {
                _e: [],
                ready: function (f) {
                    t._e.push(f)
                }
            });
        }(document, "script", "twitter-wjs"));

    twttr.events.bind('click', function(event) {
		var id_producto = <%= @producto.id %>;
  		var request = $.ajax({
                            url: '/productos/share_twitter',
                            method: "POST",
                            data: { idproducto: id_producto},
                            dataType: "JSON",
                            success: function( data ) {
                                   	}
                          });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
	});

    $(function() {
      $( "#accordion" ).accordion({
              heightStyle: "content"
      });
    });


  	$("#input-id").rating({
  		size:"xs",
	    glyphicon: false,
	    ratingClass: "rating-fa", // the rating class will ensure font awesome icon rendering
	    showCaption: true,
	    showClear:false,
	    clearButtonTitle: "Limpiar",
	    clearButton:'<i class="mdi-content-remove"></i>',
	    clearCaption: "",
	    clearCaptionClass: "transparent",
	    starCaptions: function(val) { return val;},
	    starCaptionClasses: function(val) { return 'label transparent';},
	});


  	 $("#puntuacion").rating({
  		size:"sm",
	    glyphicon: false,
	    ratingClass: "rating-fa", // the rating class will ensure font awesome icon rendering
	    showCaption: true,
	    showClear:false,
	    clearButtonTitle: "Limpiar",
	    clearButton:'<i class="mdi-content-remove"></i>',
	    disabled:true,
	    hoverEnabled: false,
	    clearCaption: "",
	    clearCaptionClass: "transparent",
	    starCaptions: function(val) { return Math.round(val * 100) / 100;},
	    starCaptionClasses: function(val) { return 'label transparent';},
  	});

  	$("#input-id").on("rating.change", function(event, value, caption) {
  		var id_producto = <%= @producto.id %>;
  		var puntuacion = value;
  		var request = $.ajax({
                            url: '/productos/puntuacion',
                            method: "POST",
                            data: { idproducto: id_producto, puntuacion: puntuacion},
                            dataType: "JSON",
                            success: function( data ) {
	                                    var promedio = data.promedio ;          
	                                    $('#puntuacion').rating('update', promedio);
                                   	}
                          });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
   			
	});

	$("#btn-megusta").click(function() {
		var id_producto = <%= @producto.id %>;
  		var request = $.ajax({
                            url: '/productos/like',
                            method: "POST",
                            data: { idproducto: id_producto},
                            dataType: "JSON",
                            success: function( data ) {         
                            	var icon = data.icon 
	                                    $("#icon-like").attr("class", icon);
                                   	}
                          });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
	});
  </script>
<% end %>
