<!-- Usuario/editar perfil -->

<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "usuarios" %> 
  <%= stylesheet_link_tag    "plugins/fileinput.min" %> 
  <style type="text/css">
     .dropdown-content {
      max-height: 200px; 
    }
  </style>
<% end %>

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase ">
          Perfil Usuario <%= @usuario.perfil.nombres%> <%=
          @usuario.perfil.apellidos%>
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Perfil</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h">
  <div class="col s8 panel">
    <div class="row">
      <div class="col s12">
        <%= form_for(@usuario,  :as => resource_name, :url => usuarios_editar_path, :html => {id: "edit_usuario", :method => :post },  :multipart => true ) do |f| %>
          
          <%= f.fields_for :perfil do |perfil| %>
            <div class="row">
              <h5>Datos básicos</h5>
              <div class="input-field col s12 m6">
                <%= perfil.label :nombres %>
                <%= perfil.text_field :nombres, :required => true,  :autocomplete => false %>
              </div>
              <div class="input-field col s12 m6">
                <%= perfil.label :apellidos %>
                <%= perfil.text_field :apellidos, :required => true,  :autocomplete => false %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m6">
                <%= f.label :email %>
                <%= f.email_field :email, :required => true %>
              </div>
              <label>Sexo</label>
              <div>
                  <%= perfil.radio_button :sexo, "masculino", :checked => (@usuario.perfil.sexo == "masculino") %>
                  <%= perfil.label :sexo_masculino, "Masculino" %>
                  <%= perfil.radio_button :sexo, "femenino", :checked => (@usuario.perfil.sexo == "femenino")%>
                  <%= perfil.label :sexo_femenino, "Femenino"%>
              </div> 
            </div>

            <div class="row">
              <div class="input-field col s12 m6">
                 <%= perfil.label :ocupacion %>
                 <%= perfil.text_field :ocupacion, :required => true,  :autocomplete => false %>             
              </div>
              <div class="input-field col s12 m6">
                 <%= f.label :username %>
                 <%= f.text_field :username, :required => true,  :autocomplete => false %>             
              </div>
            </div>

            <div class="row">
              <div class="col s12 m6">
                <label >Pais <span class="required">*</span></label>
                <%= f.collection_select(:pais_id, Pais.all, :id, :nombre_codigo_telefono) %>  
              </div>
              <div class="col s12 m6 ">
                <div class="input-field input-group" style="margin-top: 25px;">
                  <label for="usuario[perfil_attributes][telefono_movil]">Teléfono Móvil <span class="required">*</span></label>
                 
                   <%= perfil.text_field :telefono_movil, :required => true, :autocomplete => false %>   
                  
                      <a href="javascript:void(0)" class="input-group-addon " id="validate_movil"  role="button" data-toggle="popover" data-trigger="hover" data-title="" data-content="<% if @usuario.perfil.confirmacion_movil %>Télefono Móvil Verificado <% else %> Télefono Móvil Pendiente por Verificar <% end %>" placement="right" data-container="body">
                      <% if @usuario.perfil.confirmacion_movil  %>
                         <i class="mdi-action-done-all green-text"></i> 
                      <% else %> 
                         <i class="mdi-navigation-cancel red-text"></i>
                      <% end %>
                       
                        
                      </a>         
                </div>
              </div>
            </div>

            <hr/>
            <h5>Redes sociales</h5>
            
            <div class="row">
              <div class="col s10">
                <ul id="lista-redes-sociales" class="vacia  list-inline">
                  <li>Te falta agregar alguna red social. Usa el botón a la derecha para hacerlo.</li>

                  <% @usuredes.each do |red| %>

                    <% if ! red.nil? %>
                      <li> 
                      
                       <a href="<%= red.url.to_s%>" target="_blank"><span class="input-group-addon red-social-add " style="background: <%= red.red_social.color %>; border-bottom-left-radius: 100%; border-top-left-radius: 100%; display: inline-block; margin-bottom: 12px !important">
                          <i class="<%= red.red_social.icono %>" style="margin-top: 4px;"></i></span>
                          <span><%= red.url.truncate(35)%></span>
                        </a>
                      
                    </li>

                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="col s2 text-center">
                <div class="dropdown">
                  <a href="javascript:void(0)" class="btn-floating waves-effect waves-light red"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="mdi-content-add"></i>
                  </a>
                  <ul  class='dropdown-menu list-inline' role="menu" style="min-width: 100px;">
                    <% @red_socials.each do |red_social| %>

                      <% if ! red_social.nil? %>
                         <li> <span style="padding-bottom: 5px;"><a href="/link_social_usuario/<%= red_social.id %>"  id="<%= red_social.id %>" class="red-social-add" style="background: <%= red_social.color %>;"><i class="<%= red_social.icono %>"></i></a></span> </li>

                      <% end %>
                    <% end %>
                 </ul>
                </div>
              </div>
            </div>
          <%end%>
          <div class="row pad30">
            <div class="col s12">  
            <%= f.submit "Guardar", :class => 'btn btn-success' %>       
              <a href="javascript:void(0)" class="btn btn-info btn-danger">Cancelar</a> 
            </div>
          </div>
          <div class="pad15"></div> 
        <% end %>
      </div>
    </div> 
  </div>

  <div class="col s4">
    <div class="row no-margin-v">

      <%= form_tag( {controller: "usuarios", action: "save_foto", method: "post"},  multipart: true, id:"form_foto" ) do %>
        <div class="col s12 panel">
          <h5>Cambiar foto</h5>

          <% if ! @usuario.perfil.nil? %>

            <% if ! @usuario.perfil.foto.nil? and @usuario.perfil.foto != "" %>
              <div id="avatar" class="<%= @usuario.perfil.formato_foto%><%= @usuario.perfil.foto%>" > </div>
            <% else %>
              <div id="avatar" class="/assets/avatar/sinfoto.jpg'" > </div>
            <% end %>

          <% else %>
            <div id="avatar" class='/assets/avatar/sinfoto.jpg' > </div>
          <% end %>

          <input id="avatar_id" name="avatar_id" type="file" class="file"  required/>
          <div class="pad15"></div>
        </div>
      <% end %>
    </div>
    
    <div class="row panel pad15 pad30-h ">
      <div class="col s12">
        <%= render "devise/passwords/edit" %>
        <div class="pad15"></div>
      </div>
    </div>

    <div class="pad15"></div>
  </div>
</div>
<%= render "usuarios/verificacion_movil" %>
<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag "plugins/pwstrength-bootstrap-1.2.4.min" %>
  <%= javascript_include_tag 'plugins/fileinput.js' %>
  <%= javascript_include_tag 'usuarios' %>

  <script>
$("#validate_movil").click(function(){
    var telefono_movil = $("#usuario_perfil_attributes_telefono_movil").val();
    if (telefono_movil == null || telefono_movil == "") {
      alert("telefono_movil " +  telefono_movil);
      ///$('#change_rol').closeModal();
    } else {
      //alert("telefono_movil " +  telefono_movil);
          $('#codigo_valicacion').hide(); 
      $('#telefono_valicacion').fadeIn();  
    //$('#codigo_valicacion').removeClass('hide'); 

      $('#validacion_movil').openModal();
      
    };
  });

$('#btnEnviarSMS').on('click', function() {


   
    var telefono_movil = $("#telefono_movil").val();
    var pais_id = $("#usuario_pais_id").val();
    
    var request = $.ajax({
                  url: '/usuario/enviar_codigo',
                      method: "POST",
                      data: { telefono_movil: telefono_movil,
                              pais_id: pais_id},
                      dataType: "JSON"
                  });
                        request.done(function( data ) {
                           $('#telefono_valicacion').hide();  
                            //$('#codigo_valicacion').removeClass('hide'); 
                            $('#codigo_valicacion').fadeIn(600); 
                           //alert(pais_id + telefono_movil );
                              //$('#change_rol').closeModal();
                        //actualizarMenu();
                    });
                     
                  request.fail(function( jqXHR, textStatus ) {
                      alert( "Fallo El Envio de SMS. " + textStatus );
                    }); 
  });

$('#btnValidarCodigo').on('click', function() {
    var token = $("#token").val();
   
    var request = $.ajax({
                  url: '/usuario/validacion_codigo',
                      method: "POST",
                      data: { token: token},
                      dataType: "JSON"
                  });
                        request.done(function( data ) {
                          $('#validacion_movil').closeModal();
                          location.reload(); 
                           // alert(token);
                              //$('#change_rol').closeModal();
                        //actualizarMenu();
                    });
                     
                  request.fail(function( jqXHR, textStatus ) {
                      alert( "Fallo El Envio de SMS. " + textStatus );
                    }); 
  });

    $("#avatar_id").fileinput({
      'browseLabel':'cambiar',
      'showCaption':false,
      'initialPreview': [
        "<img src='" + $("#avatar").attr("class") +"' class='file-preview-image' alt='Avatar' title='Foto de perfil actual'>"
      ],

      'initialPreviewShowDelete':false,
      'initialCaption':'archivo(s) seleccionado(s)',
      'allowedFileTypes':['image'],
      'allowedFileExtensions':['jpg', 'png', 'jpeg'],
      'browseClass':'btn btn-primary',
      'browseIcon':'<i class="mdi-file-attachment"></i>',
      'showRemove':false,
      'uploadLabel':'Subir',
      'uploadIcon':'<i class="mdi-file-file-upload"></i>',
      'uploadClass':'btn btn-success '
    });
</script>
<% end %>
