<% content_for :css_personalizado do %>
   <%= stylesheet_link_tag    "usuarios" %>
      <%= stylesheet_link_tag    "organizacion" %>
   <style type="text/css">
	   .dropdown-content {
	    	max-height: 200px; 
		}
	</style>
<% end %>

<div class="row titulo-seccion">
	<div  class="banner div-registro-banner" >
		<div class="contenedor">
			<div class="col s6">
		    	<h5 class="text-uppercase ">Crear una nueva cuenta</h5>
		  	</div>
			<div class="col s6 text-right ">
			   <ol class="breadcrumb">
				    <li><%= link_to "Inicio", root_path %></li>
					<li class="active"> Crear cuenta</li>
				</ol>
			</div>
	  	</div>
  	</div>
</div>


<div id="form_wizard_1" class="center-block">
	<%= form_for @usuario, :url => usuarios_abrircuenta_path, html:{id: "submit_form", class: "form-horizontal"} do |f| %>
		<div class="form-wizard">
			<div class="form-body">
				<div class="pad150-h">
					<ul class="nav nav-pills nav-justified steps ">
						<li class="active">
							<a href="#tab1" data-toggle="tab" class="step active">
							<span class="number">
							1 </span>
							<span class="desc">
							<i class="fa fa-check"></i> Cuenta </span>
							</a>
						</li>
						<li >
							<a href="#tab2" data-toggle="tab" class="step">
							<span class="number">
							2 </span>
							<span class="desc">
							<i class="fa fa-check"></i> Organización </span>
							</a>
						</li>
						<li>
							<a href="#tab3" data-toggle="tab" class="step ">
							<span class="number">
							3 </span>
							<span class="desc">
							<i class="fa fa-check"></i> Pago </span>
							</a>
						</li>
						<li>
							<a href="#tab4" data-toggle="tab" class="step">
							<span class="number">
							4 </span>
							<span class="desc">
							<i class="fa fa-check"></i> Confirmación </span>
							</a>
						</li>
					</ul>
					<div id="bar" class="progress progress-striped" role="progressbar">
						<div id="progress-bar-wizard" class="progress-bar progress-bar-success" >
						</div>
					</div>
				</div>
				
				
				<div class="tab-content">
					
					<div class="pad150-h">
						<div class="feedback alert alert-danger display-none">
							<button class="close" data-dismiss="alert"></button>
							Algunos campos tienen errores. Por favor revisa abajo.
						</div>
						<div class="feedback alert-success display-none">
							<button class="close" data-dismiss="alert"></button>
							La validación fue exitosa.
						</div>
					</div>
					
					<div class="tab-pane active" id="tab1">
						<div class="row">
							<div class="col s8 offset-s2 left">
								<h5 >Datos de tu cuenta</h5>
								<%= f.fields_for :perfil do |p| %>
									
								      <div class="input-field col s6">
								        <%= p.text_field :nombres, :required=>true,autocomplete: "off" %>
								        <label for="perfil_nombres">Nombres</label>
								      </div>
								      <div class="input-field col s6">
								        <%= p.text_field :apellidos, :required=>true, autocomplete: "off"  %>
								        <label for="perfil_apellidos">Apellidos</label>
								      </div>
	    							
	    						<% end %><%# Fin del subfomulario de perfil %>
    							<div class="input-field col s12">
									<label for="usuario_email2">Email <span class="required">
									* </span>
									</label>
									<%= f.text_field :email, :required=>true, autocomplete: "off" %>
								</div>
								<div class="input-field col s12">
									<label for="usuario_email2">Username <span class="required">
									* </span>
									</label>
									<%= f.text_field :username, :required=>true,autocomplete: "off"  %>
								</div>
								<div class="input-field col s12">
									<label for="usuario_password2">Contraseña <span class="required">
									* </span>
									</label>
									<%= f.password_field :password, :maxlength=>30, :required=>true, autocomplete: "off" %>
								</div>
								<div class="col s12">
				                    <div class="pwstrength_viewport_progress progress-bar-seguridad"></div>

				          
				                </div>
								<div class="input-field col s12">
									<label for="usuario_password_confirmation">Confirma tu contraseña <span class="required">
									* </span>
									</label>
									<%= f.password_field :password_confirmation, :maxlength=>30, :required=>true, autocomplete: "off" %>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
						<div class="row ">
							<div class="col s8 offset-s2">
								<h5 class="block">Datos de la organización</h5>
								<div class="pad15">
									<%= f.fields_for :organizacion do |o| %>
									<div class="input-field">
										<label for="organizacion_nombre">Nombre de la organización<span class="required">
										* </span></label>
										<%= o.text_field :nombre, :required=>true  %>
									</div>
									<div class="input-field">
										<label for="organizacion_descripcion">Descripción</label>
										<%= o.text_area :descripcion, :class=>"materialize-textarea"  %>
									</div>
									<div class="input-field input-group">
										<i class="mdi-social-public prefix input-group-addon"></i>
										<%= o.text_field :subdominio, :required=>true  %>
										<span class="input-group-addon" id="basic-addon2">.crumbik.com</span>
										<label for="organizacion_subdominio">Subdominio <span class="required">
										* </span>
										</label>
									</div>

									<div class="row">
										<label >Pais <span class="required">*</span></label>
										<%= o.collection_select(:pais_id, Pais.all, :id, :nombre) %>  
									</div>
									<div class="row input-group">
										<label >Tipo de Organizacion <span class="required">*</span></label>
										<%= o.collection_select(:tipo_organizacion_id, TipoOrganizacion.where(estatus: "A"), :id, :nombre) %>  
										<a href="#detalle_tipo_organizacion_<%= @usuario.organizacion.tipo_organizacion_id %>" class="modal-trigger input-group-addon" id="basic_addo_tipo_organizacion">
												<i class="mdi-action-help"></i>
												<abbr>Detalles</abbr>
										</a>
									</div>
		
									
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane " id="tab3">
						<div class="row">
							<div class="col s8 offset-s2">
								<h5 class="block">Información del Plan</h5>
									<%= o.fields_for :contratos do |c| %>
										<div class="row input-group">
											<input type="date" name="usuario[organizacion_attributes][contratos_attributes][0][fecha_vencimiento]" id="usuario_organizacion_attributes_contratos_attributes_0_fecha_vencimiento" class="hidden">
											
											<label>Plan <span class="required">*</span></label>
											<%= c.fields_for :pagos do |pa| %>
												<%= pa.number_field :monto, :class => "hidden"  %>
												<%= pa.number_field :modo_pago_id, :class => "hidden"  %>
											<% end %>
											<%= c.collection_select(:plan_id, Plan.where(estatus: "A"), :id, :nombre) %>
											<a href="#detalle_plan_<%= @usuario.organizacion.contratos[0].plan_id %>" class="modal-trigger input-group-addon" id="basic_addo_plan">
												<i class="mdi-action-help"></i>
												<abbr>Detalles</abbr>
											</a>
										</div>
										<div class="row">
											<div class="form-group">
												<div class="col-md-6">
													Monto del Plan:  <b><span id="monto_plan" class="form-control-static"></span></b>
												</div>
												<div class="col-md-6">
													<div id="msj-frecuencia"></div>
												</div>
											</div>
										</div>
										
									<% end %> <%# Fin del subformulario de contrato %>
									
								<% end %> <%# Fin del subfomulario de organizacion %>
								<input type="hidden" value="" id="monto" name="pago[monto]"/>

								<h5 class="block">Métodos de Pago</h5>
								<div>
									Pagar con <br/>
									<input name="modo_pago" type="radio" id="usar_tarjeta" value="1" checked/>
									<label for="usar_tarjeta">Tarjeta de crédito</label>
									<input name="modo_pago" type="radio" id="usar_paypal" value="2"/>
									<label for="usar_paypal">PayPal</label>
								</div>
								<div id="campos-tarjeta-credito" class="campos">
									<div class="input-field">
										<label for="tarjeta_nombre">Nombre en la tarjeta<span class="required">
										* </span>
										</label>
										<input type="text"id="tarjeta_nombre" name="tarjeta[nombre]" required/>
									</div>
									<div class="input-field">
										<label for="tarjeta_numero">Número de tarjeta <span class="required">
										* </span>
										</label>
										<input type="text" id="tarjeta_numero" name="tarjeta[numero]" required/>
									</div>
									<div class="input-field input-group">
										<input type="text" id="tarjeta_cvc" maxlegth="4" name="tarjeta[cvc]" required/>

										<a href="javascript:void(0)" class="input-group-addon" id="basic-addon2"  role="button" data-toggle="popover" data-trigger="hover" data-title="¿Qué es CVC?" data-content="Son los ultimos 3 numeros de la parte reversa de la tarjeta." placement="right" data-container="body">
											<i class="mdi-action-help"></i>
											<abbr>¿Qué es esto?</abbr>
										</a>

										<label id="tarjeta_cvc">CVC <span class="required">
										* </span>
										</label>
									</div>
									
								</div>
								<div id="campos-paypal" class="campos">
									Formulario para pagar con paypal
									<div class="form-group">
										<label class="control-label col-md-3">Payment Options <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<div class="checkbox-list">
												<label>
												<input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card."/> Auto-Pay with this Credit Card </label>
												<label>
												<input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing."/> Email me monthly billing </label>
											</div>
											<div id="form_payment_error">
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab4">
						<div class="row">
							<div class="col s8 offset-s2 ">
								<h5 class="block">Confirma tu cuenta</h5>
								<h6 class="form-section">Datos de la cuenta</h6>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Nombre:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[perfil_attributes][nombres]"></span>
										<span class="form-control-static" data-display="usuario[perfil_attributes][apellidos]"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Email:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[email]">
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Username:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[username]">
										</span>
									</div>
								</div>
								<h6 class="form-section">Datos de la organización</h6>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Nombre de la organización:</label>
									</div>
									
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[organizacion_attributes][nombre]">
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Descripción:</label>
									</div>
									
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[organizacion_attributes][descripcion]">
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Subdominio:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[organizacion_attributes][subdominio]">
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Tipo de Organización:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[organizacion_attributes][tipo_organizacion_id]">
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>País:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[organizacion_attributes][pais_id]">
										</span>
									</div>
								</div>
								<h6 class="form-section">Plan</h6>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Plan:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" data-display="usuario[organizacion_attributes][contratos_attributes][0][plan_id]">
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Costo del Plan:</label>
									</div>
									<div class="col-md-4">
										$<span class="form-control-static" id="monto_display" data-display="usuario[organizacion_attributes][contratos_attributes][0][pagos][0][monto]">
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-3 right-align">
										<label>Renovación del Plan:</label>
									</div>
									<div class="col-md-4">
										<span class="form-control-static" id="fecha_display" data-display="usuario[organizacion_attributes][contratos_attributes][0][fecha_vencimiento]">
										</span>
									</div>
								</div>
								
								
								<h6 class="form-section">Pago</h6>
								<div id="form-tarjeta">
									<div class="form-group">
										<div class="col-md-3 right-align">
											<label>Nombre del Tarjeta Habiente:</label>
										</div>
										<div class="col-md-4">
											<span class="form-control-static" data-display="tarjeta[nombre]">
											</span>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3 right-align">
											<label>Número de Tarjeta de Crédito:</label>
										</div>
										<div class="col-md-4">
											<span class="form-control-static" data-display="tarjeta[numero]">
											</span>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3 right-align">
											<label>CVC:</label>
										</div>
										<div class="col-md-4">
											<span class="form-control-static" data-display="tarjeta[cvc]">
											</span>
										</div>
									</div>
									<!--<div class="form-group">
										<label class="control-label col-md-3">Fecha de expiración</label>
										<div class="col-md-4">
											<span class="form-control-static" data-display="tarjeta[fecha_expiracion]">
											</span>
										</div>
									</div>-->
								</div>
								<div id="form-payment">
									<div class="form-group">
										<label class="control-label col-md-3">Payment Options:</label>
										<div class="col-md-4">
											<span class="form-control-static" data-display="payment">
											</span>
										</div>  
									</div>
								</div>
							</div>
						</div>
						 
					</div>
				</div>
			</div>
			<div class="form-actions">
				<div class="row">
					<div class="col s12 text-center">
						<a href="javascript:;" class="btn  button-previous waves-effect">
						<i class="mdi-navigation-arrow-back"></i> Atrás </a>
						<a href="javascript:;" class="btn pink button-next waves-effect">
						Continuar <i class="mdi-navigation-arrow-forward"></i>
						</a>
						<input type="submit" class="btn blue button-submit" value="Confirmar">
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<div id="notificacion" class="modal text-center">
</div>


<% if !@planes.blank? %>
	<% for plan in @planes %>
	    <div id="detalle_plan_<%= plan.id %>" class="modal ">
          <div class="modal-content">
            <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
            <h5 class="text-capitalize"><%= plan.nombre %></h5>

            	<div class="pad10-t" >
			      <div class="row">
			         <div class="col s4">
			           <img class="responsive-img" src="<%= plan.formato_imagen %><%= plan.imagen %>">
			         </div>
			         <div class="col s8 ">
			           
			           <div class="row no-margin-v">
			              <div class="col s3"><p><strong>Descripción:</strong></p></div>
			              <div class="col s9 justify"> 
			               <p><%= plan.descripcion %></p>
			              </div>
			           </div>
			            <div class="row no-margin-v">
			              <div class="col s3"><p><strong>Costo:</strong></p></div>
			              <div class="col s8 justify"> 
			               <p>$<%= plan.costo %></p>
			              </div>
			           </div>
			            <div class="row no-margin-v valign-wrapper">
			              <div class="col s3"><p><strong>Frecuencia de Pagos:</strong></p></div>
			              <div class="col s9 justify"> 
			               <p><%= plan.frecuencia_pago.nombre %> 
			               - Renovación cada <%= plan.frecuencia_pago.meses %> 
			               <% if (plan.frecuencia_pago.meses>1) %>meses
			               <% else %>mes
			               <% end -%>
			                </p>
			              </div>
			           </div>
			            <div class="row no-margin-v ">
			              <div class="col s3"><p><strong>Servicios:</strong></p></div>
			              <div class="col s9 justify"> 
			                <ul class="index-vinnetas">
			                  <% plan.plan_servicio.each do |plan_servicio| %>
			                  
			                    <li><%=plan_servicio.servicio.nombre %>: <%=plan_servicio.descripcion %> </li>
			                  
			                  <% end %>
			                </ul>
			              </div>
			           </div>
			         </div>
			      </div>
			    </div>
           </div>                
        </div>
	<% end %>
<% end %>

<% if !@tipo_organizacions.blank? %>
	<% for tipo_organizacion in @tipo_organizacions %>
	    <div id="detalle_tipo_organizacion_<%= tipo_organizacion.id %>" class="modal modal-45">
          <div class="modal-content">
            <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
            <h5 class="text-capitalize"><%= tipo_organizacion.nombre %></h5>

            	<div class="pad10-t">
			      <div class="row">
			         <div class="col s8 offset-s1 ">
			           
			           <div class="row no-margin-v">
			              <div class="col s12 justify"> 
			               <p><%= tipo_organizacion.descripcion %></p>
			              </div>
			           </div>
			           
			         </div>
			      </div>
			    </div>
           </div>                
        </div>
	<% end %>
<% end %>



<% content_for :javascript_personalizado do %>
	<%= javascript_include_tag "usuarios" %>
	<%= javascript_include_tag "plugins/jquery.bootstrap.wizard.min" %>
	<%= javascript_include_tag "plugins/pwstrength-bootstrap-1.2.4.min" %>

	<script type="text/javascript">
	$(document).ready(function(){
		$('.datepicker').pickadate({
    		selectMonths: true, // Creates a dropdown to control month
    		selectYears: true, // Creates a dropdown of 15 years to control year
    		format: 'mm/yyyy',
    		closeOnSelect: true,
    	 	closeOnClear: false,

    	});
    
	});
	</script>
<% end %>
