<!-- usuario/perfil -->

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-capitalize negrita">
          <%= @usuario.perfil.nombres%> <%=
          @usuario.perfil.apellidos%>
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Perfil</li>
        </ol>
      </div>
    </div>
  </div>
</div>


  <div class="row pad30">
    <div class="col s12 m4 center-align">
      <img class="foto-perfil responsive-img"
        src="<%= @usuario.perfil.formato_foto%><%= @usuario.perfil.foto%>">
    </div>

    <div class="col s12 m4">
      <ul class="asidefoto">
        <li>
          <i class="small mdi-action-account-circle"></i>
          <span class="negrita">
            <%= @usuario.perfil.nombres%> <%=
            @usuario.perfil.apellidos%>
          </span>
        </li>
        <li>
          <i class="small mdi-action-event"></i>
          <span class="grey-text darken-2">Sexo</span>
          <span class="negrita text-capitalize"><%= @usuario.perfil.sexo%></span>
        </li>
        <li>
          <i class="small mdi-action-wallet-travel "></i>
          <span class="grey-text darken-2">Ocupaci&oacute;n</span>
          <span class="negrita">
            <%= @usuario.perfil.ocupacion%>
          </span>
        </li>
        <li>
          <i class="small mdi-action-home"></i>
          <span class="grey-text darken-2">
            Pa&iacute;s
          </span>
          <span class="negrita"><%= @usuario.pais.nombre %></span>
        </li>
        <% if request.subdomain.present? %>
          <% if !@usuario.organizacion.nil? %>
            <li>
              <i class="small mdi-action-perm-identity"></i>
              <span class="grey-text darken-2">
                Compa&ntilde;ia
              </span>
              <span class="company"><%= @usuario.organizacion.nombre %></span>
            </li>
          <%  end -%>
        <%  end -%>

      </ul>
    </div>
    <div class="col s12 m4">
      <ul class="asidefoto2">

        <% @usuredes.each do |red| %>

          <% if ! red.nil? %>

            <li>
              
              <a href="<%= red.url%>" target="_blank" class="negrita  grey-text text-darken-2">
                <i class="<%= red.red_social.icono %> fa-2x"></i>
                <span><%= red.url.truncate(35)%></span></a>
            </li>

          <% end %>
        <% end %>

        <li>
          <i class="small mdi-communication-phone"></i>
          <span class="grey-text darken-2">
                Tel&ntilde;efono
          </span>
          <span class="negrita">+58 4265528455</span>
        </li>
        <li>
          <i class="small fa fa-calendar"></i>
          <span class="grey-text darken-2">
                Fecha de Nacimiento
          </span>
          <span class="negrita">08/04/1992</span>
        </li>
        <li>
          <i class="small mdi-communication-email"></i>
          <span class="grey-text darken-2">
              Email
          </span>
          <span class="negrita"><%= @usuario.email%></span>
        </li>
      </ul>

    </div>
  </div>

