<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "jquery.dataTables" %> 
<% end %>

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase ">
         Usuarios
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Usuarios</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="row pad30-h">

  <div class="row">
    <% @usuarios.each do |usuario| %>

      <% if ! usuario.nil? and ! usuario.perfil.nil? %>
       
          <div class="col m4 animate">
            <div class="card ">
              <div class="card-content center-align">
                <div class="card-title truncate  grey-text text-darken-2"><%= usuario.username %></div>
                <img class="circle" src="<%= usuario.perfil.formato_foto %><%= usuario.perfil.foto %>" style="max-width: 150px; max-height: 150px;">
                <br>
                <p class="blue-text text-darken-4"><%= usuario.perfil.nombres %> <%= usuario.perfil.apellidos %></p>
                <br>
                <div class="row no-margin-v">
                  <div class="col <% if ! usuario.organizacion.nil? %> m2 <% else %> m3 <% end %> hide-on-small-only">&nbsp;</div>
                  <div class="col m2 s6 center-align">
                    <a href="/usuarios/perfil/<%= usuario.id %>" rel="nofollow"  data-method="post" class="tooltipped" 
                      data-position="bottom" data-delay="50" data-tooltip="Ver Perfil">
                      <i class="small mdi-action-face-unlock"></i>
                    </a>
                  </div>
                  <div class="col m2 s6 center-align">
                    <a href="#!" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Eliminar">
                      <i class="small mdi-action-highlight-remove"></i>
                    </a>
                  </div>
                  <div class="col m2 s6 center-align" >
                    <a href="#!" class="tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Deshabilitar">
                      <i class=" small mdi-content-block"></i>
                    </a>
                  </div>
                  <% if ! usuario.organizacion.nil? %>
                    <div class="col m2 s6 center-align" >
                      <a href="http://<%= usuario.organizacion.subdominio %>.lvh.me:3000/inicio" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver Compañía">
                        <i class="small mdi-action-account-balance"></i>
                      </a>
                    </div>
                  <% end %>
                   <div class="col m2 .hide-on-small-only">&nbsp;</div>
                </div>
              </div>
              <div class="card-action center-align truncate">
                <a href="#!" class="blue-text text-darken-4"><%= usuario.email%></a>
              </div>
            </div><!--/card-->
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="row valign-wrapper">
      <%= paginate(@usuarios) %>
   </div>
</div>

<% content_for :javascript_personalizado do %>

  <%= javascript_include_tag 'jquery.dataTables.min' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#usuarios').dataTable({
        "select": false, 
        "pageLength": 5,
        "lengthChange": false
      });
    });
  </script>
<% end %>