<% content_for :css_personalizado do %> 
  <%= stylesheet_link_tag    "nota" %> 
<% end %>

<div class="row titulo-seccion banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase ">
         Mis Notas
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Notas</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row wrapper  pad30-h" >
  <div class="fixed-action-btn " style="top: 250px; bottom: 0px">
    <a href="#modalNew" class="tooltipped modal-trigger btn-floating btn-sm waves-effect waves-light red left absolute tooltipped" style="margin-bottom: 60px;" data-position="left" data-delay="50" data-tooltip="Agregar Nota" onclick="validar('#formNew')">
      <i class=" mdi-av-playlist-add"></i>
    </a>
  </div>

  <div class="col s12">
    <div class="">
    <% if !@notas.blank? %> 
      <% @notas.each_with_index do |nota, index| %>
        <% if  !nota.nil? %>
          <div class="<% if (index.to_i+1) % 3 == 0 %> row <% end %>">
           <div class="col s12 m4" >
              <div class="card  hoverable " style="    background-color: <%=nota.color%> !important;">
                <div class="card-content grey-text text-darken-4">
                

                  <span class="card-title grey-text text-darken-4">  <p><%=nota.titulo%></p></span>
                  
                  <p style="Word-wrap:break-word"><%=nota.contenido.truncate(80)%></p>
                  
                </div>
                <div class="card-action action-note" style="float:right">
                   <a href="#modalver<%= nota.id %>" class="tooltipped modal-trigger" data-position="bottom"  data-tooltip="Ver" ><i class=" mdi-image-remove-red-eye"></i></a>

                    <a href="#modaleditar<%= nota.id %>" class="tooltipped modal-trigger" data-position="bottom" data-tooltip="Editar" onclick="validar('#modaleditar<%= nota.id %>')"><i class="mdi-editor-border-color"></i></a>

                   <a href="#modaleliminar<%= nota.id %>" class="tooltipped modal-trigger" data-position="bottom"  data-tooltip="Eliminar" ><i class=" mdi-action-delete"></i></a>
                
                </div>

              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %> 
         
    <div class="row valign-wrapper">
        <%= paginate(@notas) %>
      </div> 
    </div>
  </div>
</div>

<!-- Modal Agregar -->
    <div id="modalNew" class="modal modal-45">
      <div id="formNew" form="true" class="modal-content">
        <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear" onclick="limpiar()"></i></a>
        <h5 id="titulo">Agregar Nota</h5>
        <div class="row " style="padding-top: 35px;">
          <div class="col s12">
            <!-- Nombre --> 
            <div class="row"> 
              <div class="input-field col s12">
                <input id="tituloNota" name="nota[titulo]" type="text" autocomplete="off">
                <label for="titulo">Titulo:</label>
              </div>
            </div>
            <!-- Contenido --> 
            <div class="row"> 
              <div class="input-field col s12">
                <textarea id="contenido" class="validate materialize-textarea active" length= "255" name="nota[contenido]"></textarea>
                <label for="contenido">Contenido:</label>
              </div>
            </div>
            <!-- Color -->
            <div class="row"> 
              <div class="fixed-action-btn horizontal" style="bottom: 10%; right:86%;">
                <a class="btn-floating btn-medium pink tooltipped" data-position="button" data-delay="50" data-tooltip="Cambiar color">
                <i class="mdi-image-color-lens"></i></a>
                <ul>
                  <li><a class="btn-floating" aria-label="Verde" style="background-color: rgb(193, 219, 170);" onclick="change_color('rgb(193, 219, 170)')"></a></li>
                  <li><a class="btn-floating" aria-label="Amarillo" style="background-color: rgb(236, 240, 118);" onclick="change_color('rgb(236, 240, 118)')"></a></li>
                  <li><a class="btn-floating" aria-label="Morado" style="background-color: rgb(204, 155, 180);" onclick="change_color('rgb(204, 155, 180)')"></a></li>
                  <li><a class="btn-floating" aria-label="Blanco" style="background-color: rgb(255, 255, 255);" onclick="change_color('rgb(255, 255, 255)')"></a></li>
                </ul>
              </div>
            </div>
            <!-- Boton -->
            <div class="row"> 
              <div align="right">
                <input id="btnGuardar" type="submit" class="btn btn-success " value="Guardar">
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>


<% @notas.each do |nota| %>
  <% if ! nota.nil? %>
  <!-- Modal Editar -->
  <div id="modaleditar<%= nota.id %>" class="modal modal-45" form="true" style="background-color: <%=nota.color%> !important;">
    <div class="modal-content">
      <a style="float:right;" class="waves-effect btn-flat modal-close"
      onclick="cancelar(modaleditar<%= nota.id %>, <%= nota.id %>, titulo<%= nota.id %>, contenido<%= nota.id %>)"></i></a>
        <h5>Editar Nota</h5>
          <div class="row" style="padding-top: 35px;">
            <div class="col s12">
              <div class="row">
                <!-- titulo -->
                <div class=" input-field col s10 offset-s1 ">
                  <input id="titulo<%= nota.id %>" type="text" class="validate" value="<%= nota.titulo %>" name="nota[titulo]"> 
                  <label for="titulo<%= nota.id %>" >Titulo:</label>
                </div>
                <!-- contenido -->
                <div class=" input-field col s10 offset-s1 ">
                  <textarea id="contenido<%= nota.id %>" class="validate materialize-textarea active" length= "255"  name="nota[contenido]"><%= nota.contenido %></textarea>
                  <label for="contenido<%= nota.id %>" >Contenido:</label>
                </div>
              </div>
            </div>
              <!-- color -->
              <div class="row" style="position:absolute !important;">
                <div class="fixed-action-btn horizontal" style=" bottom: 8%;right: 84%;">
                  <a class="btn-floating btn-medium pink tooltipped" data-position="button" data-delay="50" data-tooltip="Cambiar color">
                  <i class="mdi-image-color-lens"></i></a>
                  <ul>
                    <li><a class="btn-floating" aria-label="Verde" style="background-color: rgb(193, 219, 170);" onclick="change_color_edit('rgb(193, 219, 170)','#modaleditar<%= nota.id %>')"></a></li>
                    <li><a class="btn-floating" aria-label="Amarillo" style="background-color: rgb(236, 240, 118);" onclick="change_color_edit('rgb(236, 240, 118)','#modaleditar<%= nota.id %>')"></a></li>
                    <li><a class="btn-floating" aria-label="Morado" style="background-color: rgb(204, 155, 180);" onclick="change_color_edit('rgb(204, 155, 180)','#modaleditar<%= nota.id %>')"></a></li>
                    <li><a class="btn-floating" aria-label="Blanco" style="background-color: rgb(255, 255, 255);" onclick="change_color_edit('rgb(255, 255, 255)','#modaleditar<%= nota.id %>')"></a></li>
                  </ul>
                </div>
              </div>
           
              <div class="row" style="position:absolute !important; button:5px; top:99%; left:30%;">
                <div class="text-center">
                  <input type="button" class="btn btn-success btn-sm" value="Guardar" onclick="update(modaleditar<%= nota.id %>, <%= nota.id %>, titulo<%= nota.id %>, contenido<%= nota.id %>)">
                  <input type="button" class="btn btn-danger btn-sm" value="Cancelar" onclick="cancelar(modaleditar<%= nota.id %>, <%= nota.id %>, titulo<%= nota.id %>, contenido<%= nota.id %>)">
                </div>
              </div>
          </div>       
    </div>
  </div>

  <!-- Modal Eliminar -->
  <div id="modaleliminar<%= nota.id %>" class="modal">
    <div class="modal-content">
      <a style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
      <div class="row pad30-t" >
        <div class="col s12 text-center">
          <h6 style=" font-size: 20px;"> ¿Seguro que desea eliminar la nota seleccionada? </h6>
          <div style="padding-top: 35px;" class="right">
            <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="eliminar(<%= nota.id %>)">
            <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
          </div>
        </div>
      </div>                
    </div>
  </div>

  <!-- Modal Ver -->
  <div id="modalver<%= nota.id %>" class="modal modal-45">
    <div class="modal-content" style="background-color: <%=nota.color%> !important;">
      <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
      <div class="row" style="padding-top: 35px;">
        <div class="col s10 offset-s1" align="justify">
          <div class="row">
            <h5><%= nota.titulo %></h5>
            <p style="Word-wrap:break-word"><%= nota.contenido %></p> 
          </div>
        </div>
      </div>
    </div>                
  </div>

  <% end %>
<% end %>

<% content_for :javascript_personalizado do %> 
  <%= javascript_include_tag 'maestros/notas' %> 
<% end %>