<div class="row titulo-seccion no-margin-v">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Interacción Social 
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb no-margin-v">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Interacción Social</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row pad30-h white no-margin-v">
  <div class="col s12 m3" style="border-right: solid 1px #D0D0D0;">
    <div>
       <% if !@red_socials.blank? %>
           <div class="row no-margin-v" style="border-bottom: solid 1px #E05996;">
              <div class="col s12 m8  no-padding">
                <h6 > Cuentas </h6>
              </div>
              <div class="col s12 m4 no-padding right-align">
               <a href="#!" class="btn-flat btn-sm waves-effect waves-light rigth no-padding tooltipped " data-position="bottom" data-delay="50" data-tooltip="Agregar Cuenta">
                <i class="rigth mdi-content-add text-pink lighten-2"></i>
              </a>
              </div>
           </div>
           <div class="row">
             <table class="highlight bordered">
              <tbody>
                <% @red_socials.each do |red_social| %>

                  <% if ! red_social.nil? %>
                    <tr>
                      <td><a href="<%= red_social.url %>" target="_blank" class="text-pink lighten-2"> <i class="<%= red_social.red_social.icono %>"></i>  <%= red_social.red_social.nombre %> </a></td>
                    </tr>
                  <% end -%>
                <% end -%>
              </tbody>
            </table>
          </div>
       <% end -%>
    </div>
  </div>
  <div class="col s12 m9">
    <% if !@interaccion_socials.blank? %>
    <div class="row center valign-wrapper text-pink lighten-2">
      <div class="col s6 left">
        <h5 class="left">@<%= @cliente_twitter.user.screen_name %></h5>
      </div>
      <div class="col s2">
         <h5><%= @cliente_twitter.user.statuses_count %></h5>
         Tweets
      </div>
      <div class="col s2">
        <h5><%= @cliente_twitter.user.favorites_count %></h5>
        Favoritos
      </div>
      <div class="col s2">
        <h5><%= @cliente_twitter.user.followers_count %></h5>
         Seguidores
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
          <img src="/assets/Post2.jpg" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
      <table class="striped">
        <thead>
          <tr>
              <th class="center">Fecha</th>
              <th class="center">Tweet</th>
              <th class="center">Tipo</th>
              <th class="center">Retweets</th>
              <th class="center">Likes</th>
          </tr>
        </thead>

        <tbody>
          <% @interaccion_socials.each do |interaccion_social| %>

            <% if ! interaccion_social.nil? %>
              <tr>

                <td> 
                  <%= interaccion_social.created_at.strftime("%d/%m/%Y") %>
                </td>

                <td> 
                  <%= interaccion_social.text %>
                </td>

                 <td class="center"> 
                    <i class="fa fa-comment"></i>
                </td>

                <td class="center"> 
                  <%= interaccion_social.retweet_count %>
                </td>

                <td class="center"> 
                  <%= interaccion_social.favorites_count %>
                </td>
               
              </tr>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
      </div>
    <% end -%>
  </div>
  
</div>