<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "owl.carousel" %>
  <%= stylesheet_link_tag    "owl.theme" %>
  <%= stylesheet_link_tag    "owl.transitions" %>

  <style type="text/css">

    .owl-theme .owl-controls{
      text-align: center;
      position: relative !important;
        width: 100%;
        top: -10px;
    }

    .card .card-image{
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .card .card-image img{
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .card .card-image:hover img{
        -webkit-transform: scale(1.2) rotate(-7deg);
        -moz-transform: scale(1.2) rotate(-7deg);
        -ms-transform: scale(1.2) rotate(-7deg);
        -o-transform: scale(1.2) rotate(-7deg);
        transform: scale(1.2) rotate(-7deg);
    }
  </style>
<% end %>

<div class="row titulo-seccion">
  <div class="banner banner-perfil">
    <div class="contenedor">
      <div class="col s6">
        <h5 class="text-uppercase">
         Planes
        </h5>
      </div>
      <div class="col s6 text-right ">
        <ol class="breadcrumb">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li class="active">Planes</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div  class="row pad30-h">

  <div id="planes">

    <% @plans.each do |plan| %>
      <div class="col s12">
         <div class="card hoverable ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="img-responsive" src="<%= plan.formato_imagen %><%= plan.imagen %>">
          </div>
          <div class="card-content">
            <span class="card-title  grey-text text-darken-4 text-capitalize" style="font-size: 20px; line-height: 30px;">
              <%= plan.nombre %>
              
            </span>
            <p class="text-right">
              <a href="javascript:void(0)" onclick="mostrar_detalles('#detalle_plan_<%= plan.id %>')" class="waves-effect">Detalles</a>
            </p>

          </div>
          <div class="card-action">
              
            <a href="/plan/editar/<%= plan.id %>" class="waves-effect">Editar</a>
            <a href="#modaleliminar<%= plan.id %>" class="modal-trigger waves-effect">Eliminar</a>
            <% if (plan.estatus == 'A') %>
                 <a href="#modal<%= plan.id %>" class=" modal-trigger waves-effect">Deshabilitar</a>
            <% else %>
                 <a href="#modal<%= plan.id %>" class=" modal-trigger waves-effect">Habilitar</a>
             <% end %>

          </div>

        </div>
      </div>
    <% end %>
  
  </div>

  <div id="detalle_plan" style="padding-top:20px">
    <% @plans.each do |plan| %>
    <div id="detalle_plan_<%= plan.id %>" class="hidden plan" >
      <div class="row">
         <div class="col s4">
           <img class="responsive-img materialboxed" src="<%= plan.formato_imagen %><%= plan.imagen %>">
         </div>
         <div class="col s8 ">
           <h5 class="text-capitalize"><%= plan.nombre %></h5>
           <div class="row no-margin-v">
              <div class="col s3"><p><strong>Descripción:</strong></p></div>
              <div class="col s9 justify"> 
               <p><%= plan.descripcion %></p>
              </div>
           </div>
            <div class="row no-margin-v">
              <div class="col s3"><p><strong>Costo:</strong></p></div>
              <div class="col s8 justify"> 
               <p>$<%= plan.costo %></p>
              </div>
           </div>
            <div class="row no-margin-v valign-wrapper">
              <div class="col s3"><p><strong>Frecuencia de Pagos:</strong></p></div>
              <div class="col s9 justify"> 
               <p><%= plan.frecuencia_pago.nombre %> 
               - Renovación cada <%= plan.frecuencia_pago.meses %> 
               <% if (plan.frecuencia_pago.meses>1) %>meses
               <% else %>mes
               <% end -%>
                </p>
              </div>
           </div>
            <div class="row no-margin-v ">
              <div class="col s3"><p><strong>Servicios:</strong></p></div>
              <div class="col s9 justify"> 
                <ul class="index-vinnetas">
                  <% plan.plan_servicio.each do |plan_servicio| %>
                  
                    <li><%=plan_servicio.servicio.nombre %>: <%=plan_servicio.descripcion %> </li>
                  
                  <% end %>
                </ul>
              </div>
           </div>
         </div>
      </div>
    </div>
    <div id="modal<%= plan.id %>" class="modal">
      <div class="modal-content">
        <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
        <% if (plan.estatus == 'A') %>
        <h5>Deshabilitar Plan</h5>
        <% else %>
        <h5>Habilitar Plan</h5>
        <% end %>


        <div class="row" style="padding-top: 35px;">
          <div class="col s12 text-center">
          <% if (plan.estatus == 'A') %>
            <h6 style=" font-size: 20px;"> ¿Seguro que desea Deshabilitar el plan seleccionado? </h6>
            <% else %>
            <h6 style=" font-size: 20px;"> ¿Seguro que desea Habilitar el plan seleccionado? </h6>
            <% end %>
            <div style="padding-top: 35px;" class="right">
              <% if (plan.estatus == 'A') %>
                <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= plan.id %>,'I')">
              <% else %>
                <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="update_estatus(<%= plan.id %>,'A')">
              <% end %>
               <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
            </div>

          </div>
        </div>                
      </div>
    </div> 

    <div id="modaleliminar<%= plan.id %>" class="modal">
      <div class="modal-content">
        <a style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>

        <h5>Eliminar Plan</h5>

        <div class="row pad30-t" >
          <div class="col s12 text-center">

            <h6 style=" font-size: 20px;"> ¿Seguro que desea eliminar el plan seleccionada? </h6>

            <div style="padding-top: 35px;" class="right">

              <input type="button" class="btn btn-success btn-sm" value="Aceptar" onclick="eliminar(<%= plan.id %>)">

              <input type="button" class="btn btn-danger btn-sm modal-close" value="Cancelar">
            </div>

          </div>
        </div>                
      </div>
    </div> 

  <% end %>
  </div>


</div>


<% content_for :javascript_personalizado do %>
  <%= javascript_include_tag 'owl.carousel.min' %>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#planes").owlCarousel({
          items: 4,
          pagination: true,
         lazyLoad : true,
         mouseDrag: true, 
        });
    });

    function mostrar_detalles(id){
      $('div.active').removeClass('active').addClass('hidden');
      $(id).removeClass('hidden');

      $('#detalle_plan').fadeOut("fast");
      $('#detalle_plan').fadeIn("slow");
      $(id).addClass('active');
      $('html,body').animate({
                                scrollTop: $("#detalle_plan").offset().top-200
                            }, 'slow');
    }


  function update_estatus(idplan, estatus){
    var request = $.ajax({
                            url: '/plans/update_estatus',
                            method: "POST",
                            data: { idplan: idplan, estatus: estatus},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                        location.reload(); 
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
    };

  function eliminar(idplan){
    var request = $.ajax({
                            url: '/plans/eliminar',
                            method: "POST",
                            data: { idplan: idplan},
                            dataType: "JSON"
                          });

        request.done(function( data ) {
                                        location.reload(); 
                                      });
                     
        request.fail(function( jqXHR, textStatus ) {
                                                    alert( "Request failed: " + textStatus );
                                                   });
  }

  </script>
<% end %>