<!DOCTYPE html>
<html>
	<head>
		
	  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= stylesheet_link_tag    "jquery.dataTables" %> 

	  	<% if request.subdomain.present? %>
	  		<title><%= @organizacion.nombre%></title>
			<link rel="icon" type="image/png" href="<%= @organizacion.formato_logo%><%= @organizacion.logo%>" />
	  		<link rel="shortcut icon" type="image/x-icon" href="<%= @organizacion.formato_logo%><%= @organizacion.logo%>" />       
		<% else %>
			<title>Crumbik</title>
			<link rel="icon" type="image/png" href="<%= asset_path 'header-logo.png' %>" />
	  		<link rel="shortcut icon" type="image/x-icon" href="<%= asset_path 'header-logo.png' %>" />
		<% end %>

		<script type="text/javascript" src="http://lvh.me:3000/ext/build/ext-all.js"></script>
  	<!-- Incluya hojas de estilos de: Extjs 5.1 -->
	  	<link rel="stylesheet" type="text/css" href="http://lvh.me:3000/ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">

		<link href="<%= stylesheet_path(@style) %>" rel="stylesheet" type="text/css" />
	  <%= yield :css_personalizado %>
	  
	  <%= csrf_meta_tags %>
	</head>


	<body>
		
		<% if usuario_signed_in? %>
			<main class="<% if current_usuario.current_administrable %>sesion<% end %>" >
				<% if current_usuario.current_administrable %>
	        		<%= render "partials/menu" %>
	        	<% else %>
	        		<%= render "partials/sidebar" %>
	        	<% end %>
	       		<div id ="<% if current_usuario.current_administrable %>contenedor<% end %>" class="container-fluid no-padding logged-in">
	          		<div class="col s12">
	          			<% if request.subdomain.present? %>
	          				<header>
								<%= render "partials/header_organizacion" %>
							</header>
							<% if ! current_usuario.current_administrable %>
								<div class="fixed-action-btn">
									<a data-activates="slide-out" class="button-collapse btn-floating btn-large waves-effect waves-light pink accent-3 right absolute" ><i class="mdi-communication-chat"></i></a>
								</div>
							<% end %>  
							<%= render "partials/chat" %>
						<% else %>
							<header>
								<%= render "partials/header" %>
							</header>
						<% end %>
						
						<%= yield %>

						
	           			<% if request.subdomain.present? %>
				        	<footer >
				        		<%= render "partials/footer_organizacion" %>
				       		</footer>
			       		<% else %>
			       			<footer >
				        		<%= render "partials/footer" %>
				        	</footer>
			       		<% end %>
	          		</div>
	        	</div>	
	       </main> 

	    <% else %>
	      
	      	<main>
		      	<% if request.subdomain.present? %>
	          		<header>
						<%= render "partials/header_organizacion" %>
					</header>
				<% else %>
					<header>
						<%= render "partials/header" %>
					</header>
				<% end %>
	        	<%= yield %>
				<% if request.subdomain.present? %>
					<footer >
				    	<%= render "partials/footer_organizacion" %>
				    </footer>
			    <% else %>
			    	<footer >
				   		<%= render "partials/footer" %>
				   	</footer>
			    <% end %>
	       	</main>
	    <% end %>
	      
	   		<div class="scroll-to-top">
	    		<a href="javascript:void(0)"><i class="fa fa-arrow-circle-o-up"></i></a>
	    	</div>
		</main>
			
		<%= javascript_include_tag 'application' %>

		<%= javascript_include_tag 'jquery.dataTables.min' %>

		<%= yield :javascript_personalizado %>
	
	</body>

</html>
