<!DOCTYPE html>
<html>
	<head>
	  <title>Crumbik</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  
	  <%= yield :css_personalizado %>
	  
	  <%= csrf_meta_tags %>
	</head>


	<body>
		
		
	      <% if usuario_signed_in? %>
	      <main class="sesion">
	        <%= render "partials/menu" %>
	       <div id ="contenedor" class="container-fluid no-padding logged-in">
	          <div class="col s12">
	          	<header>
					<%= render "partials/header" %>
				</header>

	            <%= yield %>
	           <footer >
		        	<%= render "partials/footer" %>
		        </footer>
	          </div>
	        </div>	
	       </main>         
	      <% else %>
	      <main>
		      <header>
				<%= render "partials/header" %>
			</header>
	        <%= yield %>
	        <footer >
	        	<%= render "partials/footer" %>
	        </footer>
	       </main>
	      <% end %>
	      
	      <div class="scroll-to-top">
	        <a href="javascript:void(0)"><i class="fa fa-arrow-circle-o-up"></i></a>
	      </div>
	   
	</main>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= yield :javascript_personalizado %>
	</body>
</html>
