<!DOCTYPE html>
<html>
	<head>
	  <title>Crumbik</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link rel="icon" type="image/png" href="<%= asset_path 'header-logo.png' %>" />
	  <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path 'header-logo.png' %>" />

	  <%= yield :css_personalizado %>
	  
	  <%= csrf_meta_tags %>
	</head>


	<body>
		
		<% if usuario_signed_in? %>
			<main class="sesion" >
	        	<%= render "partials/menu" %>
	       		<div id ="contenedor" class="container-fluid no-padding logged-in">
	          		<div class="col s12">
	          			<% if request.subdomain.present? %>
	          				<header>
								<%= render "partials/header_organizacion" %>
							</header>
						<% else %>
							<header>
								<%= render "partials/header" %>
							</header>
						<% end %>
						
						<%= yield %>

	           			<% if request.subdomain.present? %>
				        	<footer >
				        		<%= render "partials/footer_organizacion" %>
				       		</footer>
			       		<% else %>
			       			<footer >
				        		<%= render "partials/footer" %>
				        	</footer>
			       		<% end %>
	          		</div>
	        	</div>	
	       </main> 

	    <% else %>
	      
	      	<main>
		      	<% if request.subdomain.present? %>
	          		<header>
						<%= render "partials/header_organizacion" %>
					</header>
				<% else %>
					<header>
						<%= render "partials/header" %>
					</header>
				<% end %>

	        	<%= yield %>
				
				<% if request.subdomain.present? %>
					<footer >
				    	<%= render "partials/footer_organizacion" %>
				    </footer>
			    <% else %>
			    	<footer >
				   		<%= render "partials/footer" %>
				   	</footer>
			    <% end %>
	       	</main>
	    <% end %>
	      
	   		<div class="scroll-to-top">
	    		<a href="javascript:void(0)"><i class="fa fa-arrow-circle-o-up"></i></a>
	    	</div>
		</main>
			
		<%= javascript_include_tag 'application' %>
		<%= yield :javascript_personalizado %>
	
	</body>

</html>
